<div class="container-center-horizontal">
      <div class="e-learning-dashboard screen">
        <div class="flex-col-2">
          <img class="eparrow-right-bold" src="img/ep-arrow-right-bold@2x.svg" />
          <div class="flex-row-7 poppins-normal-mist-gray-12px">
            <img class="avatar-12" src="img/avatar-12@1x.png" />
            <div class="sanni">Sanni</div>
            <div class="help">Help</div>
            <div class="account">Account</div>
            <div class="logout">Logout</div>
            <img class="bithree-dots-vertical" src="img/bi-three-dots-vertical-4@2x.svg" />
            <img class="group-306" src="img/group-306@2x.svg" />
            <div class="group-307">
              <div class="flex-col-3">
                <img class="study" src="img/study-6@2x.png" />
                <div class="place-1 poppins-normal-black-9px">Home</div>
              </div>
              <div class="flex-col-4">
                <img class="study-2" src="img/study-5@2x.png" />
                <div class="points poppins-normal-black-9px">Points</div>
              </div>
              <div class="flex-col-5">
                <img class="study" src="img/study-4@2x.png" />
                <div class="profile poppins-normal-black-9px">Profile</div>
              </div>
              <div class="flex-col-6">
                <img class="study-3" src="img/study-3@2x.png" />
                <div class="network poppins-normal-black-9px">Network</div>
              </div>
              <div class="flex-col-7">
                <img class="study-4" src="img/study@2x.png" />
                <div class="report poppins-normal-black-9px">Report</div>
              </div>
              <div class="flex-col-8">
                <img class="study-1" src="img/study-1@2x.png" />
                <div class="notification-container poppins-normal-black-9px">
                  <div class="notification">Notification</div>
                  <div class="notification">Notification</div>
                </div>
              </div>
              <div class="flex-col-9">
                <img class="study-5" src="img/study-2@2x.png" />
                <div class="setting poppins-normal-black-9px">Setting</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row-8">
          <div class="overlap-group7">
            <div class="frame-196">
              <img class="unsplashuya-tt9u6-av-i" src="img/unsplash-uyatt9u6avi-2@2x.svg" />
              <div class="name-container">
                <div class="name poppins-normal-black-12px">Adam kumar</div>
                <div class="name-5 poppins-light-stack-12px">Adam</div>
              </div>
            </div>
            <div class="group-312">
              <img class="study-1" src="img/study-17@2x.png" />
              <div class="assesment poppins-normal-black-12px">Assesment</div>
            </div>
            <div class="group-313">
              <img class="study-1" src="img/study-25@2x.png" />
              <div class="admin-tools poppins-normal-black-12px">Admin Tools</div>
            </div>
            <div class="group-314">
              <img class="study-1" src="img/study-24@2x.png" />
              <div class="courses poppins-normal-black-12px">Courses</div>
            </div>
            <div class="group-315">
              <img class="study-1" src="img/study-15@2x.png" />
              <div class="certificates poppins-normal-black-12px">Certificates</div>
            </div>
            <div class="group-316">
              <img class="study-1" src="img/study-16@2x.png" />
              <div class="history poppins-normal-black-12px">History</div>
            </div>
            <div class="group-31">
              <img class="study-1" src="img/study-18@2x.png" />
              <div class="announcment poppins-normal-black-12px">Announcment</div>
            </div>
            <div class="group-318">
              <img class="study-1" src="img/study-19@2x.png" />
              <div class="support poppins-normal-black-12px">Support</div>
            </div>
            <div class="group-31">
              <img class="study-1" src="img/study-20@2x.png" />
              <div class="varified-profile poppins-normal-black-12px">Varified Profile</div>
            </div>
            <div class="group-320">
              <img class="study-1" src="img/study-21@2x.png" />
              <div class="langauge poppins-normal-black-12px">Langauge</div>
            </div>
            <div class="courses-you-may-like poppins-normal-stack-18px">Courses you may like</div>
            <div class="group-321">
              <img class="study-1" src="img/study-22@2x.png" />
              <div class="block-chain poppins-normal-black-12px">BlockChain</div>
            </div>
            <div class="group-322">
              <img class="study-1" src="img/study-22@2x.png" />
              <div class="java-script poppins-normal-black-12px">JavaScript</div>
            </div>
          </div>
          <div class="flex-col-10">
            <div class="flex-col-11">
              <div class="frame-container">
                <div class="frame-202">
                  <div class="flex-row">
                    <div class="flex-col">
                      <div class="ux-design poppins-semi-bold-absolute-zero-18px">UX-Design</div>
                      <div class="place poppins-normal-black-12px">Start</div>
                    </div>
                    <div class="overlap-group-1">
                      <div class="in-process valign-text-middle metrophobic-normal-white-11px">In process</div>
                    </div>
                  </div>
                  <p class="address poppins-normal-black-12px">15 November - 17 November</p>
                  <div class="rectangle-26"></div>
                  <div class="flex-row-1">
                    <div class="surname poppins-normal-stack-12px">Price</div>
                    <div class="price poppins-normal-black-12px">$200</div>
                  </div>
                </div>
                <div class="frame-218">
                  <div class="flex-row">
                    <div class="flex-col">
                      <div class="illustration poppins-semi-bold-absolute-zero-18px">Illustration</div>
                      <div class="place poppins-normal-black-12px">Start</div>
                    </div>
                    <div class="overlap-group-2">
                      <div class="completed valign-text-middle metrophobic-normal-white-11px">Completed</div>
                    </div>
                  </div>
                  <p class="address poppins-normal-black-12px">15 November - 17 November</p>
                  <div class="rectangle-26"></div>
                  <div class="flex-row-1">
                    <div class="surname poppins-normal-stack-12px">Price</div>
                    <div class="price poppins-normal-black-12px">$200</div>
                  </div>
                </div>
                <a href="elearning2.html">
                  <div class="frame-229">
                    <div class="flex-row-9">
                      <div class="flex-col-12">
                        <div class="x3-d-modeling poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
                        <div class="place poppins-normal-black-12px">Start</div>
                      </div>
                      <div class="overlap-group-3">
                        <div class="completed-1 valign-text-middle metrophobic-normal-white-11px">Completed</div>
                      </div>
                    </div>
                    <p class="address-3 poppins-normal-black-12px">15 November - 17 November</p>
                    <div class="rectangle-26-1"></div>
                    <div class="flex-row-10">
                      <div class="surname poppins-normal-stack-12px">Price</div>
                      <div class="price poppins-normal-black-12px">$200</div>
                    </div>
                  </div></a
                >
              </div>
              <div class="frame-221">
                <img
                  class="componentlottiehttps-1"
                  src="img/-component-lottie-https---assets7-lottiefiles-com-packages-lf20-@2x.png"
                />
                <div class="flex-col-13">
                  <div class="take-a-advance-cours poppins-semi-bold-absolute-zero-18px">
                    Take a advance course to achive your goal
                  </div>
                  <p class="put-your-professiona poppins-normal-stack-12px">
                    Put your professional course in full force with course on learnt from us<br />Gain now knowledge and
                    skill
                  </p>
                  <p class="address-4 poppins-normal-black-12px">15 November - 17 November</p>
                </div>
                <div class="overlap-group-4">
                  <div class="enroll valign-text-middle metrophobic-normal-white-11px">Enroll</div>
                </div>
              </div>
              <div class="flex-row-11 poppins-semi-bold-black-18px">
                <div class="my-faviorite-list">My Faviorite List</div>
                <div class="course-activity">Course Activity</div>
              </div>
            </div>
            <div class="flex-row-12">
              <div class="frame-223">
                <div class="lottiefilescompackageslf_-container">
                  <img
                    class="componentlottiehttps-2"
                    src="img/-component-lottie-https---assets4-lottiefiles-com-packages-lf20-@2x.png"
                  />
                  <img
                    class="componentlottiehttps"
                    src="img/-component-lottie-https---assets10-lottiefiles-com-packages-lf20@2x.png"
                  />
                  <img
                    class="componentlottiehttps"
                    src="img/-component-lottie-https---assets8-lottiefiles-com-packages-lf20-@2x.png"
                  />
                  <img
                    class="componentlottiehttps"
                    src="img/-component-lottie-https---assets3-lottiefiles-com-packages-lf20-@2x.png"
                  />
                </div>
                <div class="flex-col-14">
                  <div class="overlap-group-5">
                    <div class="view-all valign-text-middle metrophobic-normal-white-11px">View all</div>
                  </div>
                  <div class="meditation poppins-normal-stack-12px">Meditation</div>
                  <p class="the-style-to-learnin poppins-normal-black-9px">
                    The style to learning Meditation with<br />
                    professional
                  </p>
                  <div class="group-344">
                    <div class="group-341"><img class="peep-101" src="img/peep-101-1@2x.svg" /></div>
                    <div class="name-1 poppins-normal-stack-9px">Adam</div>
                    <div class="overlap-group">
                      <div class="publish-15122021 valign-text-middle metrophobic-normal-white-9px">
                        Publish 15/12/2021
                      </div>
                    </div>
                  </div>
                  <div class="cyber-security poppins-normal-stack-12px">Cyber Security</div>
                  <p class="the-style-to-learnin-1 poppins-normal-black-9px">
                    The style to learning AWS cyber security<br />This will help you to get into TCS
                  </p>
                  <div class="group-343">
                    <div class="group-341"><img class="peep-101" src="img/peep-101@2x.svg" /></div>
                    <div class="name-1 poppins-normal-stack-9px">Adam</div>
                    <div class="overlap-group">
                      <div class="publish-15122021 valign-text-middle metrophobic-normal-white-9px">
                        Publish 15/12/2021
                      </div>
                    </div>
                  </div>
                  <div class="web-development poppins-normal-stack-12px">Web Development</div>
                  <p class="the-style-to-learnin-2 poppins-normal-black-9px">
                    The style to learning AWS cyber security<br />This will help you to get into TCS
                  </p>
                  <div class="group-345">
                    <div class="group-341"><img class="peep-101" src="img/peep-101@2x.svg" /></div>
                    <div class="name-1 poppins-normal-stack-9px">Adam</div>
                    <div class="overlap-group">
                      <div class="publish-15122021 valign-text-middle metrophobic-normal-white-9px">
                        Publish 15/12/2021
                      </div>
                    </div>
                  </div>
                  <div class="ethical-hacking poppins-normal-stack-12px">Ethical Hacking</div>
                  <p class="the-style-to-learnin-3 poppins-normal-black-9px">
                    The style to learning AWS cyber security<br />This will help you to get into TCS
                  </p>
                  <div class="group-346">
                    <div class="group-341"><img class="peep-101" src="img/peep-101@2x.svg" /></div>
                    <div class="name-1 poppins-normal-stack-9px">Adam</div>
                    <div class="overlap-group">
                      <div class="publish-15122021 valign-text-middle metrophobic-normal-white-9px">
                        Publish 15/12/2021
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-container-1">
                <div class="frame-230">
                  <div class="flex-row-13 poppins-normal-stack-12px">
                    <div class="learnning">Learnning</div>
                    <img class="ellipse-20" src="img/ellipse-20@2x.svg" />
                    <div class="length">Length</div>
                    <img class="ellipse-21" src="img/ellipse-21@2x.svg" />
                    <div class="overlap-group-6">
                      <div class="nov-01-15 valign-text-middle metrophobic-normal-white-11px">Nov (01-15)</div>
                    </div>
                  </div>
                  <div class="group-container">
                    <div class="group-335">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-black-8px">50%</div>
                      </div>
                      <div class="progressbar-60100">
                        <div class="rectangle"></div>
                      </div>
                    </div>
                    <div class="group-336">
                      <div class="flex-row-3">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-black-8px">30%</div>
                      </div>
                      <div class="progressbar-60100">
                        <div class="rectangle-1"></div>
                      </div>
                    </div>
                    <div class="group-337">
                      <div class="flex-row-4">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-black-8px">90%</div>
                      </div>
                      <div class="progressbar-60100">
                        <div class="rectangle-2"></div>
                      </div>
                    </div>
                    <div class="group-338">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-black-8px">70%</div>
                      </div>
                      <div class="progressbar-60100">
                        <div class="rectangle-3"></div>
                      </div>
                    </div>
                    <div class="group-339">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-black-8px">70%</div>
                      </div>
                      <div class="progressbar-60100">
                        <div class="rectangle-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-231">
                  <div class="flex-row-14 poppins-normal-stack-12px">
                    <div class="learnning-1">Learnning</div>
                    <img class="ellipse-20" src="img/ellipse-20-1@2x.svg" />
                    <div class="length-1">Length</div>
                    <img class="ellipse-21" src="img/ellipse-21-1@2x.svg" />
                  </div>
                  <div class="group-container">
                    <div class="group-335">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-absolute-zero-8px">50%</div>
                      </div>
                      <div class="progressbar-60100-1">
                        <div class="rectangle"></div>
                      </div>
                    </div>
                    <div class="group-336">
                      <div class="flex-row-3">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-absolute-zero-8px">30%</div>
                      </div>
                      <div class="progressbar-60100-1">
                        <div class="rectangle-1"></div>
                      </div>
                    </div>
                    <div class="group-337">
                      <div class="flex-row-4">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-absolute-zero-8px">90%</div>
                      </div>
                      <div class="progressbar-60100-1">
                        <div class="rectangle-2"></div>
                      </div>
                    </div>
                    <div class="group-338">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-absolute-zero-8px">70%</div>
                      </div>
                      <div class="progressbar-60100-1">
                        <div class="rectangle-3"></div>
                      </div>
                    </div>
                    <div class="group-339">
                      <div class="flex-row-2">
                        <div class="name-2 poppins-normal-stack-8px">Adam</div>
                        <div class="percent poppins-normal-absolute-zero-8px">70%</div>
                      </div>
                      <div class="progressbar-60100-1">
                        <div class="rectangle-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-row-15">
            <div class="flex-col-15">
              <div class="group-331">
                <div class="flex-row-16">
                  <div class="january">January</div>
                  <img class="evaarrow-ios-back-outline" src="img/eva-arrow-ios-back-outline@2x.svg" />
                  <img class="evaarrow-ios-back-outline-1" src="img/eva-arrow-ios-back-outline-1@2x.svg" />
                </div>
                <div class="overlap-group-container poppins-medium-black-12px">
                  <div class="overlap-group-7">
                    <div class="place-2">sun</div>
                    <div class="number">2</div>
                  </div>
                  <div class="overlap-group1">
                    <div class="mon">Mon</div>
                    <div class="number-1">2</div>
                  </div>
                  <div class="overlap-group2 poppins-medium-black-12px">
                    <div class="tue">Tue</div>
                    <div class="number">2</div>
                  </div>
                  <div class="overlap-group3 poppins-medium-white-12px">
                    <div class="wed">wed</div>
                    <div class="number-1">2</div>
                  </div>
                  <div class="overlap-group4 poppins-medium-black-12px">
                    <div class="thu">Thu</div>
                    <div class="number-1">2</div>
                  </div>
                  <div class="overlap-group5 poppins-medium-black-12px">
                    <div class="fri">Fri</div>
                    <div class="number-2">2</div>
                  </div>
                  <div class="overlap-group6 poppins-medium-black-12px">
                    <div class="sat">Sat</div>
                    <div class="number-3">2</div>
                  </div>
                </div>
              </div>
              <a href="mentor.html">
                <div class="frame-224">
                  <div class="mentors poppins-semi-bold-absolute-zero-18px">Mentors</div>
                  <div class="flex-row-5">
                    <div class="unsplash">
                      <img class="unsplashj5-k-au-rr-yx7g" src="img/unsplash-j5kaurryx7g@2x.svg" />
                      <img class="unsplash-1" src="img/unsplash-at--ekm5pge@2x.svg" />
                      <img class="unsplash-1" src="img/unsplash-wkokidnt14w@2x.svg" />
                      <img class="unsplash-1" src="img/unsplash-rriai0nhcbc@2x.svg" />
                      <img class="unsplash-1" src="img/unsplash-hrzuzox1e6w@2x.svg" />
                    </div>
                    <div class="flex-col-1">
                      <div class="name poppins-normal-black-12px">Adam</div>
                      <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                      <div class="name-3 poppins-normal-black-12px">Adam</div>
                      <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                      <div class="name-3 poppins-normal-black-12px">Adam</div>
                      <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                      <div class="name-3 poppins-normal-black-12px">Adam</div>
                      <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                      <div class="name-3 poppins-normal-black-12px">Adam</div>
                      <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                    </div>
                    <div class="address-container poppins-normal-black-6px">
                      <div class="address-1">6 years of Exprience</div>
                      <div class="address-2">6 years of Exprience</div>
                      <div class="address-2">6 years of Exprience</div>
                      <div class="address-2">6 years of Exprience</div>
                      <div class="address-2">6 years of Exprience</div>
                    </div>
                  </div>
                </div></a
              >
              <div class="frame-225">
                <div class="learning-progress poppins-semi-bold-absolute-zero-18px">Learning Progress</div>
                <div class="group-332">
                  <div class="flex-row-6">
                    <div class="name-4 poppins-normal-stack-8px">Adam</div>
                    <div class="percent-1 poppins-normal-black-8px">80%</div>
                  </div>
                  <div class="progressbar-60100-2">
                    <div class="rectangle-5"></div>
                  </div>
                </div>
                <div class="group-33">
                  <div class="flex-row-6">
                    <div class="name-4 poppins-normal-stack-8px">Adam</div>
                    <div class="percent-1 poppins-normal-black-8px">50%</div>
                  </div>
                  <div class="progressbar-60100-2">
                    <div class="rectangle-6"></div>
                  </div>
                </div>
                <div class="group-33">
                  <div class="flex-row-6">
                    <div class="name-4 poppins-normal-stack-8px">Adam</div>
                    <div class="percent-1 poppins-normal-black-8px">69%</div>
                  </div>
                  <div class="progressbar-60100-2">
                    <div class="rectangle-4"></div>
                  </div>
                </div>
                <div class="group-33">
                  <div class="flex-row-6">
                    <div class="name-4 poppins-normal-stack-8px">Adam</div>
                    <div class="percent-1 poppins-normal-black-8px">69%</div>
                  </div>
                  <div class="progressbar-60100-2">
                    <div class="rectangle-4"></div>
                  </div>
                </div>
                <div class="group-33">
                  <div class="flex-row-6">
                    <div class="name-4 poppins-normal-stack-8px">Adam</div>
                    <div class="percent-1 poppins-normal-black-8px">60%</div>
                  </div>
                  <div class="progressbar-60100-2">
                    <div class="rectangle-7"></div>
                  </div>
                </div>
              </div>
              <div class="frame-226">
                <div class="mentors-1 poppins-semi-bold-absolute-zero-18px">Mentors</div>
                <div class="flex-row-5">
                  <div class="unsplash">
                    <img class="unsplashj5-k-au-rr-yx7g" src="img/unsplash-j5kaurryx7g-1@2x.svg" />
                    <img class="unsplash-1" src="img/unsplash-j5kaurryx7g-2@2x.svg" />
                    <img class="unsplash-1" src="img/unsplash-j5kaurryx7g-3@2x.svg" />
                    <img class="unsplash-1" src="img/unsplash-j5kaurryx7g-4@2x.svg" />
                    <img class="unsplash-1" src="img/unsplash-j5kaurryx7g-5@2x.svg" />
                  </div>
                  <div class="flex-col-1">
                    <div class="name poppins-normal-black-12px">Adam</div>
                    <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                    <div class="name-3 poppins-normal-black-12px">Adam</div>
                    <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                    <div class="name-3 poppins-normal-black-12px">Adam</div>
                    <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                    <div class="name-3 poppins-normal-black-12px">Adam</div>
                    <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                    <div class="name-3 poppins-normal-black-12px">Adam</div>
                    <div class="uiux-designer poppins-normal-stack-9px">UI/UX Designer</div>
                  </div>
                  <div class="address-container poppins-normal-black-6px">
                    <div class="address-1">6 years of Exprience</div>
                    <div class="address-2">6 years of Exprience</div>
                    <div class="address-2">6 years of Exprience</div>
                    <div class="address-2">6 years of Exprience</div>
                    <div class="address-2">6 years of Exprience</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="unsplash-container">
              <img class="unsplashuya-tt9u6-av-i-1" src="img/unsplash-uyatt9u6avi@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-rdeovte7vos@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-ger61-tx6oi@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-wnolnjo7ts8@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-3tll-97hnjo@2x.svg" />
              <img class="unsplash-2" src="img/unsplash--cvwxhgqg-o@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-5aguycw-pjw@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-b8enhgfcjam@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-aoewueh7yas@2x.svg" />
              <img class="unsplash-2" src="img/unsplash-uyatt9u6avi-1@2x.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>