<div class="container-center-horizontal">
  <div class="most-recent-exprience screen">
    <div class="frame-359 border-1px-mist-gray">
      <div class="frame-365 border-1px-mercury">
        <div class="flex-col-7 poppins-normal-stack-14px">
          <div class="most-recent-job-title">Most recent Job Title</div>
          <div class="employment-type">Employment Type</div>
          <div class="most-recent-company-container poppins-normal-stack-14px">
            <div class="most-recent-company">Most recent Company</div>
          </div>
        </div>
        <div class="flex-col-8">
          <div class="frame-364 border-1px-absolute-zero">
            <div
              class="your-most-rescent-exprience poppins-normal-absolute-zero-11px"
            >
              Your most rescent exprience
            </div>
          </div>
          <input type="text" class="frame-367 border-1px-mist-gray" />
          <input type="text" class="frame-368 border-1px-mist-gray" />
          <input type="text" class="frame-368 border-1px-mist-gray" />

          <button type="button" class="frame-371 border-1px-absolute-zero">
            <div class="i-am-a-student poppins-normal-absolute-zero-11px">
              I am a student
            </div>
          </button>
          <button
            type="button"
            img
            class="group-363"
            src="../../../assets/img/group-363-7@2x.svg"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
