    <div class="container-center-horizontal">
      <div class="import-jos screen">
        <div class="overlap-group4 poppins-normal-black-12px">
          <img class="avatar-12" src="img/avatar-12@1x.png" />
          <div class="sanni">Sanni</div>
          <div class="help">Help</div>
          <div class="account">Account</div>
          <div class="place">More</div>
          <img class="bithree-dots-vertical" src="img/bi-three-dots-vertical-3@2x.svg" />
          <img class="group-298" src="img/group-298-2@2x.svg" />
          <div class="group-323">
            <div class="flex-col">
              <img class="study" src="img/study-6@2x.png" />
              <div class="place-1 poppins-normal-black-9px">Home</div>
            </div>
            <div class="flex-col-1">
              <img class="study-3" src="img/study-5@2x.png" />
              <div class="points poppins-normal-black-9px">Points</div>
            </div>
            <div class="flex-col-2">
              <img class="study" src="img/study-4@2x.png" />
              <div class="profile poppins-normal-black-9px">Profile</div>
            </div>
            <div class="flex-col-3">
              <img class="study-4" src="img/study-3@2x.png" />
              <div class="network poppins-normal-black-9px">Network</div>
            </div>
            <div class="flex-col-4">
              <img class="study-5" src="img/study@2x.png" />
              <div class="report poppins-normal-black-9px">Report</div>
            </div>
            <div class="flex-col-5">
              <img class="study-6" src="img/study-1@2x.png" />
              <div class="notification-container poppins-normal-black-9px">
                <div class="notification">Notification</div>
                <div class="notification">Notification</div>
              </div>
            </div>
            <div class="flex-col-6">
              <img class="study-7" src="img/study-2@2x.png" />
              <div class="setting poppins-normal-black-9px">Setting</div>
            </div>
          </div>
        </div>
        <div class="flex-row-1">
          <div class="flex-row-2">
            <div class="flex-col-7">
              <div class="flex-row-3">
                <img class="unsplash-jo-m_l-c1-w-an-e" src="img/unsplash-jom-lc1wane-2@2x.svg" />
                <div class="name-container">
                  <div class="name poppins-normal-black-12px">Adam kumar</div>
                  <div class="name-1 poppins-light-stack-12px">Adam</div>
                </div>
              </div>
              <div class="flex-col-8">
                <a href="assessment12.html">
                  <div class="group-312">
                    <img class="study-1" src="img/study-22@2x.svg" />
                    <div class="assesment poppins-normal-black-12px">Assesment</div>
                  </div></a
                >
                <div class="group-313">
                  <img class="study-1" src="img/study-29@2x.svg" />
                  <div class="admin-tools poppins-normal-black-12px">Admin Tools</div>
                </div>
                <div class="group-314">
                  <img class="study-2" src="img/study-28@2x.svg" />
                  <div class="courses poppins-normal-black-12px">Courses</div>
                </div>
                <div class="group-315">
                  <img class="study-1" src="img/study-20@2x.svg" />
                  <div class="certificates poppins-normal-black-12px">Certificates</div>
                </div>
                <div class="group-316">
                  <img class="study-2" src="img/study-21@2x.svg" />
                  <div class="history poppins-normal-black-12px">History</div>
                </div>
                <div class="group-31">
                  <img class="study-1" src="img/study-23@2x.svg" />
                  <div class="announcment poppins-normal-black-12px">Announcment</div>
                </div>
                <div class="group-318">
                  <img class="study-2" src="img/study-24@2x.svg" />
                  <div class="support poppins-normal-black-12px">Support</div>
                </div>
                <div class="group-31">
                  <img class="study-1" src="img/study-25@2x.svg" />
                  <div class="varified-profile poppins-normal-black-12px">Varified Profile</div>
                </div>
                <div class="group-320">
                  <img class="study-1" src="img/study-26@2x.svg" />
                  <div class="langauge poppins-normal-black-12px">Langauge</div>
                </div>
                <div class="courses-you-may-like poppins-normal-stack-18px">Courses you may like</div>
                <div class="group-321">
                  <img class="study-2" src="img/study-7@2x.png" />
                  <div class="block-chain poppins-normal-black-12px">BlockChain</div>
                </div>
                <div class="group-322">
                  <img class="study-1" src="img/study-27@2x.svg" />
                  <div class="java-script poppins-normal-black-12px">JavaScript</div>
                </div>
              </div>
            </div>
            <div class="flex-col-9">
              <img class="unsplashmq-oh-qh-f8-wn0" src="img/unsplash-mqohqhf8wn0@1x.svg" />
              <div class="frame-218 border-1px-mercury-2">
                <img class="unsplashb-bmi4n-jj-kk8" src="img/unsplash-bbmi4njjkk8@2x.png" />
                <div class="jobulary poppins-medium-stack-24px">Jobulary</div>
                <p class="we-work-for-hr-solut poppins-normal-stack-14px">
                  We work for Hr-solution, E-learning, Assessments and Job search<br />our process is unique and smooth
                  at the same time.<br />we will help you to get hired by your overall score or Job fitment score
                </p>
              </div>
              <div class="frame-357 border-1px-mist-gray">
                <div class="jobulary-occupation-satandar poppins-semi-bold-absolute-zero-18px">
                  Jobulary occupation Satandar
                </div>
                <div class="frame-346 border-1px-mercury">
                  <p class="select-the-cluster-f poppins-normal-stack-11px">
                    Select the cluster family to see the cluster
                  </p>
                </div>
                <div class="frame-379 border-1px-slimy-green">
                  <p class="select-the-cluster-f-1 poppins-normal-stack-11px">
                    Select the cluster family to see the cluster
                  </p>
                </div>
                <div class="frame-400 border-1px-absolute-zero">
                  <p class="select-the-cluster-f-2 poppins-normal-stack-11px">
                    Select the cluster family to see the cluster
                  </p>
                </div>
                <div class="frame-359 border-1px-mercury-2">
                  <div class="agriculture-and-animals poppins-normal-stack-11px">Agriculture and animals</div>
                </div>
                <div class="frame-380 border-1px-slimy-green">
                  <div class="agriculture-and-animals-1 poppins-normal-stack-11px">Agriculture and animals</div>
                </div>
                <div class="frame-401 border-1px-absolute-zero">
                  <div class="agriculture-and-animals-2 poppins-normal-stack-11px">Agriculture and animals</div>
                </div>
                <div class="frame-362 border-1px-mercury-2">
                  <div class="cleaning-and-maintainance poppins-normal-stack-11px">Cleaning and maintainance</div>
                </div>
                <div class="frame-381 border-1px-slimy-green">
                  <div class="cleaning-and-maintainance-1 poppins-normal-stack-11px">Cleaning and maintainance</div>
                </div>
                <div class="frame-402 border-1px-absolute-zero">
                  <div class="cleaning-and-maintainance-2 poppins-normal-stack-11px">Cleaning and maintainance</div>
                </div>
                <div class="frame-364 border-1px-mercury-2">
                  <div class="communication-and-collaboration poppins-normal-stack-11px">
                    Communication and collaboration
                  </div>
                </div>
                <div class="frame-382 border-1px-slimy-green">
                  <div class="communication-and-collaboration-1 poppins-normal-stack-11px">
                    Communication and collaboration
                  </div>
                </div>
                <div class="frame-403 border-1px-absolute-zero">
                  <div class="communication-and-collaboration-2 poppins-normal-stack-11px">
                    Communication and collaboration
                  </div>
                </div>
                <div class="frame-366 border-1px-mercury-2">
                  <div class="digital-technology-and-electonics poppins-normal-stack-11px">
                    Digital technology and Electonics
                  </div>
                </div>
                <div class="frame-383 border-1px-slimy-green">
                  <div class="digital-technology-and-electonics-1 poppins-normal-stack-11px">
                    Digital technology and Electonics
                  </div>
                </div>
                <div class="frame-404 border-1px-absolute-zero">
                  <div class="digital-technology-and-electonics-2 poppins-normal-stack-11px">
                    Digital technology and Electonics
                  </div>
                </div>
                <div class="frame-374 border-1px-mercury-2">
                  <div class="it-industary poppins-normal-stack-11px">IT industary</div>
                </div>
                <div class="frame-384 border-1px-slimy-green">
                  <div class="it-industary-1 poppins-normal-stack-11px">IT industary</div>
                </div>
                <div class="frame-405 border-1px-absolute-zero">
                  <div class="it-industary-2 poppins-normal-stack-11px">IT industary</div>
                </div>
                <div class="frame-367 border-1px-mercury-2">
                  <div class="enviromrnt-solution poppins-normal-stack-11px">Enviromrnt Solution</div>
                </div>
                <div class="frame-385 border-1px-slimy-green">
                  <div class="enviromrnt-solution-1 poppins-normal-stack-11px">Enviromrnt Solution</div>
                </div>
                <div class="frame-container">
                  <div class="frame-406 border-1px-absolute-zero">
                    <div class="enviromrnt-solution-2 poppins-normal-stack-11px">Enviromrnt Solution</div>
                  </div>
                  <div class="frame-407 border-1px-absolute-zero">
                    <div class="automobile poppins-normal-stack-11px">Automobile</div>
                  </div>
                  <div class="frame-408 border-1px-absolute-zero">
                    <div class="fashion-and-gromming poppins-normal-stack-11px">Fashion and gromming</div>
                  </div>
                  <div class="frame-409 border-1px-absolute-zero">
                    <div class="operation-and-marketing poppins-normal-stack-11px">Operation and marketing</div>
                  </div>
                  <div class="frame-410 border-1px-absolute-zero">
                    <div class="human-resource poppins-normal-stack-11px">Human Resource</div>
                  </div>
                  <div class="frame-411 border-1px-absolute-zero">
                    <div class="retail poppins-normal-stack-11px">Retail</div>
                  </div>
                  <div class="frame-412 border-1px-absolute-zero">
                    <div class="construction poppins-normal-stack-11px">Construction</div>
                  </div>
                  <div class="frame-413 border-1px-absolute-zero">
                    <div class="costumer-service poppins-normal-stack-11px">Costumer service</div>
                  </div>
                  <div class="frame-414 border-1px-absolute-zero">
                    <div class="health-care-and-service poppins-normal-stack-11px">Health care and service</div>
                  </div>
                  <div class="frame-418 border-1px-absolute-zero">
                    <div class="art-and-entaintment poppins-normal-stack-11px">Art and Entaintment</div>
                  </div>
                  <div class="frame-419 border-1px-absolute-zero">
                    <p class="buisness-operation-a poppins-normal-stack-11px">
                      Buisness operation and finincial activity
                    </p>
                  </div>
                  <div class="frame-420 border-1px-absolute-zero">
                    <div class="food-service poppins-normal-stack-11px">Food service</div>
                  </div>
                  <div class="frame-341">
                    <div class="care-for-animals poppins-semi-bold-absolute-zero-16px">Care for Animals</div>
                    <div class="overlap-group">
                      <div class="surname valign-text-middle metrophobic-normal-white-11px">Best Seller</div>
                    </div>
                    <div class="frame-341-item poppins-normal-black-12px">Use the following role</div>
                    <div class="frame-341-item poppins-normal-black-12px">Animals care is Important</div>
                    <div class="flex-row-4">
                      <img class="mdi-lightcheck" src="img/mdi-light-check-6@2x.svg" />
                      <p class="animals-care-is-impo poppins-normal-stack-12px">
                        Animals care is imporyant so follow the instruction
                      </p>
                    </div>
                    <div class="flex-row-5">
                      <img class="mdi-lightcheck" src="img/mdi-light-check-6@2x.svg" />
                      <p class="animals-care-is-impo poppins-normal-stack-12px">
                        Animals care is imporyant so follow the instruction
                      </p>
                    </div>
                    <div class="flex-row-6">
                      <img class="mdi-lightcheck" src="img/mdi-light-check-6@2x.svg" />
                      <p class="animals-care-is-impo poppins-normal-stack-12px">
                        Animals care is imporyant so follow the instruction
                      </p>
                    </div>
                    <div class="flex-row-7">
                      <img class="mdi-lightcheck" src="img/mdi-light-check-6@2x.svg" />
                      <p class="animals-care-is-impo poppins-normal-stack-12px">
                        Animals care is imporyant so follow the instruction
                      </p>
                    </div>
                    <div class="overlap-group1">
                      <div class="import-jos-1 valign-text-middle metrophobic-normal-white-11px">Import JOS</div>
                    </div>
                  </div>
                </div>
                <div class="frame-375 border-1px-mercury-2">
                  <div class="automobile-1 poppins-normal-stack-11px">Automobile</div>
                </div>
                <div class="frame-386 border-1px-slimy-green">
                  <div class="automobile-2 poppins-normal-stack-11px">Automobile</div>
                </div>
                <div class="frame-368 border-1px-mercury-2">
                  <div class="fashion-and-gromming-1 poppins-normal-stack-11px">Fashion and gromming</div>
                </div>
                <div class="frame-387 border-1px-slimy-green">
                  <div class="fashion-and-gromming-2 poppins-normal-stack-11px">Fashion and gromming</div>
                </div>
                <div class="frame-376 border-1px-mercury-2">
                  <div class="operation-and-marketing-1 poppins-normal-stack-11px">Operation and marketing</div>
                </div>
                <div class="frame-388 border-1px-slimy-green">
                  <div class="operation-and-marketing-2 poppins-normal-stack-11px">Operation and marketing</div>
                </div>
                <div class="frame-371 border-1px-mercury-2">
                  <div class="human-resource-1 poppins-normal-stack-11px">Human Resource</div>
                </div>
                <div class="frame-389 border-1px-slimy-green">
                  <div class="human-resource-2 poppins-normal-stack-11px">Human Resource</div>
                </div>
                <div class="frame-377 border-1px-mercury-2">
                  <div class="retail-1 poppins-normal-stack-11px">Retail</div>
                </div>
                <div class="frame-390 border-1px-slimy-green">
                  <div class="retail-2 poppins-normal-stack-11px">Retail</div>
                </div>
                <div class="frame-365 border-1px-mercury-2">
                  <div class="construction-1 poppins-normal-stack-11px">Construction</div>
                </div>
                <div class="frame-391 border-1px-slimy-green">
                  <div class="construction-2 poppins-normal-stack-11px">Construction</div>
                </div>
                <div class="frame-369 border-1px-mercury-2">
                  <div class="costumer-service-1 poppins-normal-stack-11px">Costumer service</div>
                </div>
                <div class="frame-392 border-1px-slimy-green">
                  <div class="costumer-service-2 poppins-normal-stack-11px">Costumer service</div>
                </div>
                <div class="frame-372 border-1px-mercury-2">
                  <div class="health-care-and-service-1 poppins-normal-stack-11px">Health care and service</div>
                </div>
                <div class="frame-393 border-1px-slimy-green">
                  <div class="health-care-and-service-2 poppins-normal-stack-11px">Health care and service</div>
                </div>
                <div class="frame-363 border-1px-mercury-2">
                  <div class="data-analytics-and-database poppins-normal-stack-11px">Data Analytics and database</div>
                </div>
                <div class="frame-394 border-1px-slimy-green">
                  <div class="data-analytics-and-database-1 poppins-normal-stack-11px">Data Analytics and database</div>
                </div>
                <div class="frame-415 border-1px-absolute-zero">
                  <div class="data-analytics-and-database-2 poppins-normal-stack-11px">Data Analytics and database</div>
                </div>
                <div class="frame-378 border-1px-mercury-2">
                  <div class="material-and-teansport poppins-normal-stack-11px">Material and teansport</div>
                </div>
                <div class="frame-395 border-1px-slimy-green">
                  <div class="material-and-teansport-1 poppins-normal-stack-11px">Material and teansport</div>
                </div>
                <div class="frame-416 border-1px-absolute-zero">
                  <div class="material-and-teansport-2 poppins-normal-stack-11px">Material and teansport</div>
                </div>
                <div class="frame-360 border-1px-mercury-2">
                  <div class="achivment-recording-and-translating poppins-normal-stack-11px">
                    Achivment recording and translating
                  </div>
                </div>
                <div class="frame-396 border-1px-slimy-green">
                  <div class="achivment-recording-and-translating-1 poppins-normal-stack-11px">
                    Achivment recording and translating
                  </div>
                </div>
                <div class="frame-417 border-1px-absolute-zero">
                  <div class="achivment-recording-and-translating-2 poppins-normal-stack-11px">
                    Achivment recording and translating
                  </div>
                </div>
                <div class="frame-361 border-1px-mercury-2">
                  <div class="art-and-entaintment-1 poppins-normal-stack-11px">Art and Entaintment</div>
                </div>
                <div class="frame-397 border-1px-slimy-green">
                  <div class="art-and-entaintment-2 poppins-normal-stack-11px">Art and Entaintment</div>
                </div>
                <div class="frame-370 border-1px-mercury-2">
                  <p class="buisness-operation-a-1 poppins-normal-stack-11px">
                    Buisness operation and finincial activity
                  </p>
                </div>
                <div class="frame-398 border-1px-slimy-green">
                  <p class="buisness-operation-a-2 poppins-normal-stack-11px">
                    Buisness operation and finincial activity
                  </p>
                </div>
                <div class="frame-373 border-1px-mercury-2">
                  <div class="food-service-1 poppins-normal-stack-11px">Food service</div>
                </div>
                <div class="frame-399 border-1px-slimy-green">
                  <div class="food-service-2 poppins-normal-stack-11px">Food service</div>
                </div>
                <div class="frame-347 border-1px-mercury">
                  <div class="industary poppins-normal-stack-11px">Industary</div>
                </div>
                <div class="frame-348 border-1px-mercury">
                  <div class="sub-industary poppins-normal-slimy-green-11px">Sub-Industary</div>
                </div>
                <div class="frame-357-1 border-1px-mercury">
                  <div class="skill poppins-normal-absolute-zero-11px">Skill</div>
                </div>
                <div class="frame-358 border-1px-mercury">
                  <div class="cluster poppins-normal-stack-11px">Cluster</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-container-1">
            <div class="frame-349 border-1px-mist-gray">
              <div class="engage poppins-semi-bold-absolute-zero-18px">Engage</div>
              <div class="frame-346-1 border-1px-mercury">
                <div class="invite-someone-to-jobulary poppins-normal-stack-11px">Invite someone to jobulary</div>
              </div>
              <div class="frame-34 border-1px-mercury">
                <div class="invite-employee poppins-normal-stack-11px">Invite Employee</div>
              </div>
              <div class="frame-34 border-1px-mercury">
                <div class="invite-follower poppins-normal-stack-11px">Invite Follower</div>
              </div>
            </div>
            <div class="frame-35 border-1px-mist-gray">
              <div class="sections poppins-semi-bold-absolute-zero-18px">Sections</div>
              <div class="frame-346-2 border-1px-mercury"><div class="place-2 poppins-normal-stack-11px">Job</div></div>
              <div class="frame-347-1 border-1px-mercury">
                <div class="events poppins-normal-stack-11px">Events</div>
              </div>
              <div class="frame-348-1 border-1px-mercury">
                <div class="career-councelling poppins-normal-stack-11px">Career Councelling</div>
              </div>
              <div class="frame-349-1 border-1px-mercury">
                <div class="coaching poppins-normal-stack-11px">Coaching</div>
              </div>
              <div class="frame-350 border-1px-mercury">
                <div class="e-learning poppins-normal-stack-11px">E-Learning</div>
              </div>
              <div class="frame-351 border-1px-mercury"><div class="lms poppins-normal-stack-11px">LMS</div></div>
            </div>
            <div class="frame-351-1 border-1px-mist-gray">
              <div class="admin-tools-1 poppins-semi-bold-absolute-zero-18px">Admin Tools</div>
              <div class="frame-346-3 border-1px-mercury">
                <div class="manage-admins poppins-normal-stack-11px">Manage Admins</div>
              </div>
              <div class="frame-347-2 border-1px-mercury">
                <div class="de-activate poppins-normal-stack-11px">De-Activate</div>
              </div>
            </div>
            <div class="frame-232 border-1px-mist-gray">
              <div class="analytics poppins-semi-bold-absolute-zero-18px">Analytics</div>
              <div class="group-332">
                <div class="flex-row">
                  <div class="activity poppins-normal-stack-8px">Activity</div>
                  <div class="percent poppins-normal-black-8px">80%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-1"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="visitors poppins-normal-stack-8px">Visitors</div>
                  <div class="percent-1 poppins-normal-black-8px">50%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-2"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-value poppins-normal-stack-8px">Post Value</div>
                  <div class="percent-2 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-report poppins-normal-stack-8px">Post Report</div>
                  <div class="percent-3 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="job-post poppins-normal-stack-8px">Job Post</div>
                  <div class="percent-4 poppins-normal-black-8px">60%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-3"></div>
                </div>
              </div>
            </div>
            <div class="frame-35 border-1px-mist-gray">
              <div class="posted-jobs poppins-semi-bold-absolute-zero-18px">Posted Jobs</div>
              <div class="frame-346-4 border-1px-mercury">
                <div class="bodhi-solution poppins-normal-stack-11px">Bodhi Solution</div>
              </div>
              <div class="frame-34-1 border-1px-mercury">
                <div class="bodhi-interior poppins-normal-stack-11px">Bodhi Interior</div>
              </div>
              <div class="frame-348-2 border-1px-mercury">
                <div class="bodhi-technology poppins-normal-stack-11px">Bodhi Technology</div>
              </div>
              <div class="frame-34-1 border-1px-mercury">
                <div class="bodhi-interior poppins-normal-stack-11px">Bodhi Interior</div>
              </div>
              <div class="frame-350-1 border-1px-mercury">
                <div class="bodhi-learning poppins-normal-stack-11px">Bodhi Learning</div>
              </div>
              <div class="frame-351-2 border-1px-mercury">
                <div class="bodhi-work poppins-normal-stack-11px">Bodhi Work</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>