<div class="container-center-horizontal">
  <div class="skill-develpoment screen">
    <div class="flex-row-1">
      <div class="flex-col-9">
        <div class="frame-358 border-1px-mist-gray">
          <div class="frame-354 border-1px-mercury-2">
            <div class="frame-362 border-1px-absolute-zero">
              <div class="skill-development poppins-normal-absolute-zero-11px">
                Company Form
              </div>
            </div>
          </div>
          <div class="frame-363 border-1px-mercury">
            <div class="flex-col-10 poppins-normal-stack-14px">
              <div class="frame-363-1 border-1px-absolute-zero">
                <div
                  class="title-of-the-accomplishment poppins-normal-absolute-zero-11px"
                >
                  Company Details
                </div>
              </div>
              <div class="school">Company Name</div>
              <div class="place-2">Company Type</div>
              <div class="field-of-study">Company Summary</div>
              <div class="location">Company Description</div>
              <div class="x-date-month">Company Website</div>
              <div class="x-date-month">Company Size</div>
              <div class="grade">Headquaters</div>
              <div class="activities-societies-alumina">
                Company Founded
              </div>
              <div class="description">Company Email</div>
              <div class="description">Profile Image</div>
              <div class="description">Background Image</div>
            </div>
            <div class="frame-container-1">
              <input type="text" class="frame-365 border-1px-mist-gray" [(ngModel)]="employerVar.companyname"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companytype"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companysummary"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companydescription"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companywebsite"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companysize"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.headquaters"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companyfounded"/>
              <input type="text" class="frame-3 border-1px-mist-gray" [(ngModel)]="employerVar.companyEmail"/>
              <input type="file" (change)="upload1($event)"  accept=".png,.jpg," class="frame-3 border-1px-mist-gray" />
              <input type="file" (change)="upload2($event)" accept=".png,.jpg," class="frame-3 border-1px-mist-gray" />
            </div>
          </div>
          <button
            type="button"
            (click)="addEmployer()"
            class="group-363"
            src="../../../assets/img/group-363-14@2x.svg"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
