<div class="container-center-horizontal">
      <div class="most-recent-exprience screen">
       
        <div class="frame-359 border-1px-mist-gray">
          <div class="frame-365 border-1px-mercury">
            <div class="frame-364 border-1px-absolute-zero">
              <div class="your-most-rescent-exprience poppins-normal-absolute-zero-11px">
                Your most rescent exprience
              </div>
            </div>
            <div class="flex-row">
              <div class="flex-col-7 poppins-normal-stack-14px">
                <div class="school-or-college-university">School or college/University</div>
                <div class="flex-col-item">Degree</div>
                <div class="flex-col-item">Specilization</div>
                <div class="flex-col-item">Start Year</div>
                <div class="flex-col-item">End Year</div>
                <div class="flex-col-item">I am over 16</div>
              </div>
              <div class="flex-col-8">
                <input class="frame-367 border-1px-mist-gray" type="text" name="school">
                <input class="frame-368 border-1px-mist-gray" type="text" name="degree">
                <div class="overlap-group border-1px-mist-gray">
                  <input class="frame-37 border-1px-mist-gray" type="text" name="specilization"></div>
                </div>
                <div class="overlap-group border-1px-mist-gray">
                  <div class="frame-37 border-1px-mist-gray"></div>
                </div>
                <div class="overlap-group border-1px-mist-gray">
                  <div class="frame-37 border-1px-mist-gray"></div>
                </div>
                <div class="overlap-group border-1px-mist-gray">
                  <div class="frame-37 border-1px-mist-gray"></div>
                </div>
                <div class="frame-371 border-1px-absolute-zero">
                  <div class="i-am-a-student poppins-normal-absolute-zero-11px">I am a student</div>
                </div>
              </div>
            </div>
            <img class="group-363" src="img/group-363@2x.svg" />
          </div>
        </div>
      </div>
    

<div class="container">
    <span *ngFor="let item of workExp">
        <p>{{item.designation}}</p>
        <p>{{item.company}}</p>
        <p>{{item.verified}}</p>
    </span>
</div>
<button (click)="addWork()">Add</button>