<div class="container-center-horizontal">
  <div class="skill-develpoment screen">
    <div class="flex-row-1">
      <div class="flex-col-9">
        <div class="frame-358 border-1px-mist-gray">
          <div class="frame-354 border-1px-mercury-2">
            <div class="frame-362 border-1px-absolute-zero">
              <div class="skill-development poppins-normal-absolute-zero-11px">
                Basic Details
              </div>
            </div>
          </div>
          <div class="frame-363 border-1px-mercury">
            <div class="flex-col-10 poppins-normal-stack-14px">
              <div class="frame-363-1 border-1px-absolute-zero">
                <div
                  class="title-of-the-accomplishment poppins-normal-absolute-zero-11px"
                >
                  Basic Details
                </div>
              </div>
              <div class="school">First Name</div>
              <div class="place-2">Last Name</div>
              <div class="field-of-study">Gender</div>
              <div class="x-date-month">Mobile No</div>
              <div class="x-date-month">Date of Birth</div>
              <div class="x-date-month">Profile image</div>
              <div class="grade">Background Image</div>
            </div>
            <div class="frame-container-1">
              <input type="text" class="frame-365 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
              <input type="datetime" class="frame-3 border-1px-mist-gray" />
              <input type="file" class="frame-3 border-1px-mist-gray" />
              <input type="file" class="frame-3 border-1px-mist-gray" />
            </div>
          </div>
          <button
            type="button"
            img
            class="group-363"
            src="../../../assets/img/group-363-14@2x.svg"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
