<div class="container-center-horizontal">
  <div class="most-recent-exprience screen">
    <div class="frame-364 border-1px-absolute-zero" style="margin-top: 80px">
      <div
        class="your-most-rescent-exprience poppins-normal-absolute-zero-11px"
      >
        Basic Details
      </div>
    </div>
    <div class="frame-359 border-1px-mist-gray">
      <div class="frame-365 border-1px-mercury">
        <div class="flex-col-7 poppins-normal-stack-14px">
          <div class="most-recent-job-title">First Name</div>
          <div class="employment-type">Last Name</div>
          <div class="employment-type">Gender</div>
          <div class="employment-type">Mobile No</div>
          <div class="employment-type">Profile</div>
          <div class="employment-type">Background</div>

        </div>
        <div class="flex-col-8">

          <input type="text" class="frame-367 border-1px-mist-gray" />
          <input type="text" class="frame-368 border-1px-mist-gray" />
          <select class="frame-368 border-1px-mist-gray" >
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
            </select>
          <input type="number" class="frame-368 border-1px-mist-gray" />
          <input type="text" class="frame-368 border-1px-mist-gray" />
          <input type="file" class="frame-368 border-1px-mist-gray" />
          <input type="file" class="frame-368 border-1px-mist-gray" />



        </div>
      </div>
    </div>
    <button
    type="button"
    img
    class="group-363"
    src="../../../assets/img/group-363-7@2x.svg"
  >
    Submit
  </button>
  </div>
</div>
