/* screen - most-recent-exprience */

.most-recent-exprience {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1209px;
  width: 1440px;
}

.most-recent-exprience .overlap-group2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 99px;
  min-width: 1440px;
  padding: 7px 21px;
}

.most-recent-exprience .avatar-12 {
  align-self: flex-end;
  height: 76px;
  width: 76px;
}

.most-recent-exprience .sanni {
  letter-spacing: 0;
  margin-left: 48px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 34px;
}

.most-recent-exprience .help {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 27px;
}

.most-recent-exprience .account {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 51px;
}

.most-recent-exprience .place {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 30px;
}

.most-recent-exprience .bithree-dots-vertical {
  height: 24px;
  margin-left: 71px;
  margin-top: 7px;
  width: 24px;
}

.most-recent-exprience .group-298 {
  align-self: flex-end;
  height: 55px;
  margin-bottom: 7px;
  margin-left: 30px;
  width: 451px;
}

.most-recent-exprience .group-323 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 61px;
  min-width: 379px;
}

.most-recent-exprience .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 54px;
  width: 27px;
}

.most-recent-exprience .study {
  height: 24px;
  margin-left: 2px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .place-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.most-recent-exprience .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 54px;
  width: 27px;
}

.most-recent-exprience .study-1 {
  height: 24px;
  margin-left: 1px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .points {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.most-recent-exprience .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 28px;
}

.most-recent-exprience .profile {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.most-recent-exprience .flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 37px;
}

.most-recent-exprience .study-2 {
  height: 24px;
  margin-left: 1px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .network {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
  min-width: 37px;
}

.most-recent-exprience .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 54px;
  width: 30px;
}

.most-recent-exprience .study-3 {
  height: 24px;
  margin-left: 3px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .report {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.most-recent-exprience .flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 54px;
  width: 52px;
}

.most-recent-exprience .study-4 {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .notification-container {
  height: 14px;
  margin-top: 16px;
  position: relative;
  width: 52px;
}

.most-recent-exprience .notification {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.most-recent-exprience .notification-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.most-recent-exprience .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 54px;
  width: 32px;
}

.most-recent-exprience .study-5 {
  height: 24px;
  margin-left: 4px;
  object-fit: cover;
  width: 24px;
}

.most-recent-exprience .setting {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.most-recent-exprience .frame-359 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 444px;
  margin-right: 1px;
  margin-top: 28px;
  min-width: 877px;
  padding: 16px 11px;
}

.most-recent-exprience .frame-365 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 403px;
  justify-content: flex-end;
  min-width: 852px;
  padding: 27px 145px;
}

.most-recent-exprience .flex-col-7 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  min-height: 107px;
  width: 156px;
}

.most-recent-exprience .most-recent-job-title {
  letter-spacing: 0;
  min-height: 21px;
}

.most-recent-exprience .employment-type {
  letter-spacing: 0;
  margin-top: 22px;
  min-height: 21px;
}

.most-recent-exprience .most-recent-company-container {
  height: 21px;
  margin-top: 22px;
  position: relative;
  width: 156px;
}

.most-recent-exprience .most-recent-company {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.most-recent-exprience .most-recent-company-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.most-recent-exprience .flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  min-height: 330px;
  width: 380px;
}

.most-recent-exprience .frame-364 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  min-width: 199px;
  padding: 0 21px;
}

.most-recent-exprience .your-most-rescent-exprience {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 157px;
  text-align: center;
}

.most-recent-exprience .frame-367 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  height: 29px;
  margin-top: 48px;
  width: 349px;
}

.most-recent-exprience .frame-368 {
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  height: 29px;
  margin-top: 14px;
  width: 349px;
}

.most-recent-exprience .overlap-group {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  margin-top: 14px;
  min-width: 349px;
}

.most-recent-exprience .frame-370 {
  background-color: var(--white);
  border-radius: 4px;
  height: 29px;
  margin-left: -1px;
  margin-top: -1px;
  width: 349px;
}

.most-recent-exprience .frame-371 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  justify-content: flex-end;
  margin-left: 42px;
  margin-top: 45px;
  min-width: 115px;
  padding: 0 17px;
}

.most-recent-exprience .i-am-a-student {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 80px;
}

.most-recent-exprience .group-363 {
  height: 42px;
  margin-left: 23px;
  margin-top: 22px;
  width: 152px;
  color: white;
  background-color: #0144e4;
}
