<app-top-nav-bar></app-top-nav-bar>

<body style="margin: 0; background: #ffffff; margin-top: 20px">
    <input type="hidden" id="anPageName" name="page" value="feed" />
    <div class="container-center-horizontal">
      <div class="feed screen">
        <div class="flex-row-4">
          <!-- Middle content and timeline post -->

          <div class="frame-container">

            <div class="frame-210 border-1px-mercury">
              <span *ngFor="let image of profileImage">
                <img
                  class="unsplashc5-xy-lljk-mr-y"
                  src={{image.profileImage}}
                  style="border-radius: 50px;"
                />
              </span>
                <div class="flex-col-8 post">
                  <input class="title" placeholder="Post the Reality" name="post" [(ngModel)]="postWritten">
                  <div class="flex-row-5">
                    <img class="biimage" src="../../../assets/img/bi-image@2x.svg" />
                    <img
                      class="fluentgif-16-regular"
                      src="../../../assets/img/fluent-gif-16-regular@2x.svg"
                    />
                    <img class="uitcalender" src="../../../assets/img/uit-calender@2x.svg" />
                    <div class="overlap-group-1">
                      <div
                        type="button" class="place-1 valign-text-middle metrophobic-normal-white-14px"
                      (click)="addPost(postWritten)">
                        Post
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Sample of timeline post -->
            <div class="frame-2 border-1px-mercury" *ngFor="let item of timelinePosts">
              <div class="flex-row">
                <img class="unsplash" src={{item.profileImage}} style="border-radius: 50px;"/>
                <div class="flex-col" >
                  <div class="flex-row-1">
                    <div class="name-1 poppins-semi-bold-absolute-zero-18px">
                      {{item.userName}}
                    </div>
                    <div class="address poppins-normal-stack-12px">{{item.createdOn}} Sec</div>
                  </div>
                  <p class="put-your-professiona poppins-normal-stack-12px">
                    {{item.postContent}}
                  </p>
                </div>
                <div class="mdi-light-container">
                  <img
                    class="mdi-light"
                    src="../../../assets/img/mdi-light-content-cut@2x.svg"
                  />
                  <img
                    class="mdi-lightdots-horizontal"
                    src="../../../assets/img/mdi-light-dots-horizontal@2x.svg"
                  />
                </div>
              </div>
              <div class="flex-row-2 poppins-normal-stack-12px">
                <img class="mdi-light" src="../../../assets/img/mdi-light-heart@2x.svg" />
                <div class="number">8</div>
                <img
                  class="mdi-lightcomment"
                  src="../../../assets/img/mdi-light-comment@2x.svg"
                />
                <div class="number">8</div>
                <img
                  class="mdi-lightalert-octagon"
                  src="../../../assets/img/mdi-light-alert-octagon@2x.svg"
                />
                <div class="number">8</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
