<div class="container-center-horizontal">
  <div class="side-nav-bar screen">
    <div class="flex-col">
      <div class="flex-row">
        <img
          class="unsplash-jo-m_l-c1-w-an-e"
          src="../../../assets/img/unsplash-jom-lc1wane@2x.svg"
        />
        <div class="name-container">
          <div class="name poppins-normal-black-12px">Adam kumar</div>
          <div class="name-1 poppins-light-stack-12px">Adam</div>
        </div>
      </div>
      <div class="flex-col-1">
        <a href="assessment12.html">
          <div class="group-312">
            <img class="study" src="../../../assets/img/study-2@2x.svg" />
            <div class="assesment poppins-normal-black-12px">Assesment</div>
          </div></a
        >
        <div class="group-313">
          <img class="study" src="../../../assets/img/study-9@2x.svg" />
          <div class="admin-tools poppins-normal-black-12px">Admin Tools</div>
        </div>
        <div class="group-314">
          <img class="study-1" src="../../../assets/img/study-8@2x.svg" />
          <div class="courses poppins-normal-black-12px">Courses</div>
        </div>
        <div class="group-315">
          <img class="study" src="../../../assets/img/study@2x.svg" />
          <div class="certificates poppins-normal-black-12px">Certificates</div>
        </div>
        <div class="group-316">
          <img class="study-1" src="../../../assets/img/study-1@2x.svg" />
          <div class="history poppins-normal-black-12px">History</div>
        </div>
        <div class="group-31">
          <img class="study" src="../../../assets/img/study-3@2x.svg" />
          <div class="announcment poppins-normal-black-12px">Announcment</div>
        </div>
        <div class="group-318">
          <img class="study-1" src="../../../assets/img/study-4@2x.svg" />
          <div class="support poppins-normal-black-12px">Support</div>
        </div>
        <div class="group-31">
          <img class="study" src="../../../assets/img/study-5@2x.svg" />
          <div class="varified-profile poppins-normal-black-12px">
            Varified Profile
          </div>
        </div>
        <div class="group-320">
          <img class="study" src="../../../assets/img/study-6@2x.svg" />
          <div class="langauge poppins-normal-black-12px">Langauge</div>
        </div>
        <div class="courses-you-may-like poppins-normal-stack-18px">
          Courses you may like
        </div>
        <div class="group-321">
          <img class="study-1" src="../../../assets/img/study-7@2x.png" />
          <div class="block-chain poppins-normal-black-12px">BlockChain</div>
        </div>
        <div class="group-322">
          <img class="study" src="../../../assets/img/study-7@2x.svg" />
          <div class="java-script poppins-normal-black-12px">JavaScript</div>
        </div>
      </div>
    </div>
  </div>
</div>
