<!-- <app-timeline-posts></app-timeline-posts> -->

<!-- <app-work-expereince></app-work-expereince> -->

<!-- <app-edu-details></app-edu-details> -->

<!-- <app-about-me></app-about-me>  -->

<!-- <app-login></app-login> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-e-learning-dashboard></app-e-learning-dashboard> -->

<!-- <app-jos></app-jos> -->

<!-- <app-professional-membership></app-professional-membership> -->

<!-- <app-publication-and-presentation></app-publication-and-presentation> -->

<!-- <app-assessment-details-report></app-assessment-details-report> -->

<!-- <app-board-level-exprience></app-board-level-exprience> -->

<!-- <app-volunteering></app-volunteering> -->

<!-- <app-activity></app-activity> -->

<!-- <app-skills></app-skills> -->

<!-- <app-accomplishment></app-accomplishment> -->

<!-- <app-email-varification></app-email-varification> -->

<!-- <app-contact-details></app-contact-details> -->

<!-- <app-personal-details></app-personal-details> -->

<!-- <app-exprience-form></app-exprience-form> -->

<!-- <app-board-level-exprience></app-board-level-exprience> -->

<!-- <app-professional-membership></app-professional-membership> -->

<!-- <app-patents></app-patents> -->

<!-- <app-publication-and-presentation></app-publication-and-presentation> -->

<app-e-learning-form></app-e-learning-form>
