<!-- <app-top-nav-bar></app-top-nav-bar> -->
<!-- <app-side-nav-bar-left></app-side-nav-bar-left>
<app-side-nav-bar-right></app-side-nav-bar-right> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-registration></app-registration> -->

<!-- <app-most-recent-exprience></app-most-recent-exprience> -->

<!-- <app-where-you-are-located></app-where-you-are-located> -->

<!-- <app-basic-details></app-basic-details> -->

<!-- <app-timeline-posts></app-timeline-posts> -->

<!-- <app-skill-development></app-skill-development> -->

<app-basic-details></app-basic-details>


