<!-- <app-timeline-posts></app-timeline-posts> -->

<!-- <app-work-expereince></app-work-expereince> -->

<!-- <app-edu-details></app-edu-details> -->
<!--
<app-about-me></app-about-me> -->

 <app-login></app-login>

<!-- <router-outlet></router-outlet> -->

<!-- <app-profile> -->

<!-- <app-e-learning-dashboard></app-e-learning-dashboard> -->

<!-- <app-jos></app-jos> -->

<!-- <app-professional-membership></app-professional-membership> -->

<!-- <app-publication-and-presentation></app-publication-and-presentation> -->

<!-- <app-assessment-details-report></app-assessment-details-report> -->

<!-- <app-board-level-exprience></app-board-level-exprience> -->

<!-- <app-volunteering></app-volunteering> -->
