<div class="container-center-horizontal">
  <div class="skill-develpoment screen">
    <div class="flex-row-1">
      <div class="flex-col-9">
        <img
          class="unsplashwq35-c1-zq-c-pk"
          src="../../../assets/img/unsplash-wq35c1zqcpk@1x.svg"
        />
        <div class="frame-218 border-1px-mercury-2">
          <img
            class="unsplashgl-rqy-w-jg-ue-y"
            src="../../../assets/img/unsplash-glrqywjguey@2x.png"
          />
          <div class="yahoo poppins-medium-stack-24px">Yahoo</div>
          <p class="we-work-for-hr-solut poppins-normal-stack-14px">
            We work for Hr-solution, E-learning, Assessments and Job search<br />our
            process is unique and smooth at the same time.<br />we will help you
            to get hired by your overall score or Job fitment score
          </p>
          <p
            class="ranked-in-10-of-the-list-in-jobulary poppins-normal-absolute-zero-14px"
          >
            Ranked in 10% of the list in Jobulary
          </p>
          <div class="frame-container">
            <div class="frame-359 border-1px-absolute-zero">
              <div class="follow poppins-normal-absolute-zero-11px">Follow</div>
            </div>
            <div class="frame-360 border-1px-absolute-zero">
              <div class="visit-website poppins-normal-absolute-zero-11px">
                Visit Website
              </div>
            </div>
            <div class="frame-361 border-1px-absolute-zero">
              <div class="see-all poppins-normal-absolute-zero-11px">
                See all
              </div>
            </div>
          </div>
        </div>
        <div class="frame-358 border-1px-mist-gray">
          <div class="frame-354 border-1px-mercury-2">
            <div class="frame-362 border-1px-absolute-zero">
              <div class="skill-development poppins-normal-absolute-zero-11px">
                Skill Development
              </div>
            </div>
          </div>
          <div class="frame-363 border-1px-mercury">
            <div class="flex-col-10 poppins-normal-stack-14px">
              <div class="frame-363-1 border-1px-absolute-zero">
                <div
                  class="title-of-the-accomplishment poppins-normal-absolute-zero-11px"
                >
                  Title of the accomplishment
                </div>
              </div>
              <div class="school">School</div>
              <div class="place-2">University</div>
              <div class="field-of-study">Field of Study</div>
              <div class="location">Location</div>
              <div class="x-date-month">Start Date: Month</div>
              <div class="x-date-month">End Date: Month</div>
              <div class="grade">Grade</div>
              <div class="activities-societies-alumina">
                Activities/ Societies/ Alumina
              </div>
              <div class="description">Description</div>
              <div class="frame-379 border-1px-absolute-zero">
                <div class="add-media poppins-normal-absolute-zero-11px">
                  Add Media
                </div>
              </div>
            </div>
            <div class="frame-container-1">
              <div class="frame-365 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-378 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </div>
            </div>
          </div>
          <img
            class="group-363"
            src="../../../assets/img/group-363-14@2x.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
