
<div class="container-center-horizontal">
      <div class="login screen">
        <div class="frame-359 border-1px-mist-gray">
          <div class="frame-365 border-1px-mercury">
            <div class="flex-col-7">
              <div class="frame-364 border-1px-absolute-zero">
                <div class="login-1 poppins-normal-absolute-zero-11px">Login</div>
              </div>
              <div class="email-mobile poppins-normal-stack-14px">Email/Mobile</div>
              <div class="password poppins-normal-stack-14px" >Password</div>
            </div>
            <div class="flex-col-8">
              <input type="text" class="frame-365-1 border-1px-mist-gray" name="email" [(ngModel)]="email">
              <input type="password" class="frame-367 border-1px-mist-gray" name="pass" [(ngModel)]="pass">
              <button class="group-363" src="" (click)="signIn()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label for="file">File:</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<button (click)="uploadImage()">Upload Image</button>

<button (click)="signInWithGoogle()">Google signIn</button>

<button (click)="registration()">Register</button>
