
<div class="container-center-horizontal">
      <div class="login screen">
        <div class="frame-359 border-1px-mist-gray">
          <div class="frame-365 border-1px-mercury">
            <div class="flex-col-7">
              <div class="frame-364 border-1px-absolute-zero">
                <div class="login-1 poppins-normal-absolute-zero-11px">Login</div>
              </div>
              <div class="email-mobile poppins-normal-stack-14px">Email/Mobile</div>
              <div class="password poppins-normal-stack-14px" >Password</div>
            </div>
            <div class="flex-col-8">
              <input type="text" class="frame-365-1 border-1px-mist-gray" name="email" [(ngModel)]="email">
              <input type="password" class="frame-367 border-1px-mist-gray" name="pass" [(ngModel)]="pass">
              <button class="group-363" src="" (click)="signIn()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label for="file">File:</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<button (click)="uploadImage()">Upload Image</button>

<button (click)="signInWithGoogle()">Google signIn</button>

<button (click)="registration()">Register</button>


<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" [(ngModel)]="email">
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="forgotPassword()">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>
