<app-top-nav-bar></app-top-nav-bar>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="assessment1" />
    <div class="container-center-horizontal">
      <div class="assessment1 screen">
        <div class="flex-row-2">
          <div class="flex-col-8 poppins-semi-bold-black-18px">
            <div class="mock-test">Mock Test</div>
            <a href="assessment-2.html">
              <div class="frame-202">
                <div class="ux-design poppins-semi-bold-absolute-zero-18px">UX-Design</div>
                <div class="place poppins-normal-black-12px">Start</div>
                <p class="address poppins-normal-black-12px">15 November - 17 November</p>
                <div class="rectangle-26"></div>
                <div class="flex-row">
                  <div class="surname poppins-normal-stack-12px">Price</div>
                  <div class="price poppins-normal-black-12px">$200</div>
                </div>
              </div></a
            >
            <div class="x-question">Practice Questions</div>
            <div class="frame-2">
              <div class="ux-design-1 poppins-semi-bold-absolute-zero-18px">UX-Design</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="x-question">Exam Question</div>
            <div class="frame-2">
              <div class="ux-design-2 poppins-semi-bold-absolute-zero-18px">UX-Design</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="x-question">MCQ Question</div>
            <div class="frame-2">
              <div class="ux-design-3 poppins-semi-bold-absolute-zero-18px">UX-Design</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="x-question">Practical Question</div>
            <div class="frame-2">
              <div class="ux-design-4 poppins-semi-bold-absolute-zero-18px">UX-Design</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
          </div>
          <div class="frame-container">
            <div class="frame-2-1">
              <div class="illustration poppins-semi-bold-absolute-zero-18px">Illustration</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="illustration-1 poppins-semi-bold-absolute-zero-18px">Illustration</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="illustration-2 poppins-semi-bold-absolute-zero-18px">Illustration</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="illustration-3 poppins-semi-bold-absolute-zero-18px">Illustration</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="illustration-4 poppins-semi-bold-absolute-zero-18px">Illustration</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
          </div>
          <div class="frame-container">
            <div class="frame-2-1">
              <div class="x3-d-modeling poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-1 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-2 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-3 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-4 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
          </div>
          <div class="frame-container">
            <a href="assessment12.html">
              <div class="frame-230">
                <div class="x3-d-modeling-5 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
                <div class="place poppins-normal-black-12px">Start</div>
                <p class="address poppins-normal-black-12px">15 November - 17 November</p>
                <div class="rectangle-26"></div>
                <div class="flex-row">
                  <div class="surname poppins-normal-stack-12px">Price</div>
                  <div class="price poppins-normal-black-12px">$200</div>
                </div>
              </div></a
            >
            <div class="frame-2-2">
              <div class="x3-d-modeling-6 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-7 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-242">
              <div class="x3-d-modeling-8 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
            <div class="frame-2-2">
              <div class="x3-d-modeling-9 poppins-semi-bold-absolute-zero-18px">3D Modeling</div>
              <div class="place poppins-normal-black-12px">Start</div>
              <p class="address poppins-normal-black-12px">15 November - 17 November</p>
              <div class="rectangle-26"></div>
              <div class="flex-row">
                <div class="surname poppins-normal-stack-12px">Price</div>
                <div class="price poppins-normal-black-12px">$200</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
