/* screen - top-nav-bar */

.top-nav-bar {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1691px;
  width: 1440px;
}

.top-nav-bar .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 99px;
  min-width: 1440px;
  padding: 7px 21px;
}

.top-nav-bar .avatar-12 {
  align-self: flex-end;
  height: 76px;
  width: 76px;
}

.top-nav-bar .sanni {
  letter-spacing: 0;
  margin-left: 48px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 34px;
}

.top-nav-bar .help {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 27px;
}

.top-nav-bar .account {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 51px;
}

.top-nav-bar .place {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9px;
  min-height: 18px;
  min-width: 30px;
}

.top-nav-bar .bithree-dots-vertical {
  height: 24px;
  margin-left: 71px;
  margin-top: 7px;
  width: 24px;
}

.top-nav-bar .group-298 {
  align-self: flex-end;
  height: 55px;
  margin-bottom: 7px;
  margin-left: 30px;
  width: 451px;
}

.top-nav-bar .group-323 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 61px;
  min-width: 379px;
}

.top-nav-bar .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 54px;
  width: 27px;
}

.top-nav-bar .study {
  height: 24px;
  margin-left: 2px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .place-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.top-nav-bar .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 54px;
  width: 27px;
}

.top-nav-bar .study-1 {
  height: 24px;
  margin-left: 1px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .points {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.top-nav-bar .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 28px;
}

.top-nav-bar .profile {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.top-nav-bar .flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 37px;
}

.top-nav-bar .study-2 {
  height: 24px;
  margin-left: 1px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .network {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
  min-width: 37px;
}

.top-nav-bar .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 54px;
  width: 30px;
}

.top-nav-bar .study-3 {
  height: 24px;
  margin-left: 3px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .report {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.top-nav-bar .flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 54px;
  width: 52px;
}

.top-nav-bar .study-4 {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .notification-container {
  height: 14px;
  margin-top: 16px;
  position: relative;
  width: 52px;
}

.top-nav-bar .notification {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.top-nav-bar .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 54px;
  width: 32px;
}

.top-nav-bar .study-5 {
  height: 24px;
  margin-left: 4px;
  object-fit: cover;
  width: 24px;
}

.top-nav-bar .setting {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}
