<div class="container-center-horizontal">
  <div class="top-nav-bar screen">
    <div class="overlap-group1 poppins-normal-black-12px">
      <img class="avatar-12" src="../../../assets/img/avatar-12@1x.png" />
      <span *ngFor="let item of  basicdetails">
      <div class="sanni">{{item.firstName}}</div></span>
      <div class="help">Help</div>
      <div class="account">Account</div>
      <div class="place">More</div>
      <img
        class="bithree-dots-vertical"
        src="../../../assets/img/bi-three-dots-vertical@2x.svg"
      />
      <img class="group-298" src="../../../assets/img/group-298@2x.svg" />
      <div class="group-323">
        <div class="flex-col">
          <img class="study" src="../../../assets/img/study-6@2x.png" />
          <div class="place-1 poppins-normal-black-9px">Home</div>
        </div>
        <div class="flex-col-1">
          <img class="study-1" src="../../../assets/img/study-5@2x.png" />
          <div class="points poppins-normal-black-9px">Points</div>
        </div>
        <div class="flex-col-2">
          <img class="study" src="../../../assets/img/study-4@2x.png" />
          <div class="profile poppins-normal-black-9px">Profile</div>
        </div>
        <div class="flex-col-3">
          <img class="study-2" src="../../../assets/img/study-3@2x.png" />
          <div class="network poppins-normal-black-9px">Network</div>
        </div>
        <div class="flex-col-4">
          <img class="study-3" src="../../../assets/img/study@2x.png" />
          <div class="report poppins-normal-black-9px">Report</div>
        </div>
        <div class="flex-col-5">
          <img class="study-4" src="../../../assets/img/study-1@2x.png" />
          <div class="notification-container poppins-normal-black-9px">
            <div class="notification">Notification</div>
          </div>
        </div>
        <div class="flex-col-6">
          <img class="study-5" src="../../../assets/img/study-2@2x.png" />
          <div class="setting poppins-normal-black-9px">Setting</div>
        </div>
      </div>
    </div>
  </div>
</div>
