<div class="container-center-horizontal">
  <div class="proffisonal-membership screen">
    <div class="flex-row-1">
      <div class="flex-col-10">
        <div class="unsplashhpxhfsqy-container">
          <img
            class="unsplashhpx01-hfs9-qy"
            src="../../../assets/img/unsplash-hpx01hfs9qy-2@1x.svg"
          />
          <img
            class="unsplashhpx01-hfs9-qy"
            src="../../../assets/img/unsplash-hpx01hfs9qy-3@1x.svg"
          />
        </div>
        <div class="frame-container-3">
          <div class="frame border-1px-mercury-2">
            <img
              class="unsplash4-n5hu-jd-oyd-q"
              src="../../../assets/img/unsplash-4n5hujdoydq@2x.png"
            />
            <div class="yahoo-1 poppins-medium-stack-24px">Yahoo</div>
            <p class="we-work-for-hr-solut poppins-normal-stack-14px">
              We work for Hr-solution, E-learning, Assessments and Job search<br />our
              process is unique and smooth at the same time.<br />we will help
              you to get hired by your overall score or Job fitment score
            </p>
            <p
              class="ranked-in-10-of-the-list-in-jobulary poppins-normal-absolute-zero-14px"
            >
              Ranked in 10% of the list in Jobulary
            </p>
            <div class="frame-container">
              <button type="button" class="frame-359 border-1px-absolute-zero">
                <div class="follow poppins-normal-absolute-zero-11px">
                  Follow
                </div>
              </button>
              <button type="button" class="frame-360 border-1px-absolute-zero">
                <div class="visit-website poppins-normal-absolute-zero-11px">
                  Visit Website
                </div>
              </button>
              <button type="button" class="frame-361 border-1px-absolute-zero">
                <div class="see-all poppins-normal-absolute-zero-11px">
                  See all
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="frame-358 border-1px-mist-gray">
          <div class="frame-354 border-1px-mercury-2">
            <div class="frame-362-1 border-1px-absolute-zero">
              <div class="accomplishment-1 poppins-normal-absolute-zero-11px">
                Accomplishment
              </div>
            </div>
          </div>
          <div class="frame-365-1 border-1px-mercury">
            <div class="flex-col">
              <div class="frame-363 border-1px-absolute-zero">
                <div class="accomplishment poppins-normal-absolute-zero-11px">
                  Accomplishment -1
                </div>
              </div>
              <div class="place poppins-normal-stack-14px">Name</div>
              <div class="place-1 poppins-normal-stack-14px">Name</div>
              <div class="place-2 poppins-normal-stack-14px">Name</div>
              <div class="place-3 poppins-normal-stack-14px">Name</div>
              <div class="place-4 poppins-normal-stack-14px">Name</div>
            </div>
            <div class="frame-container-1">
              <input type="text" class="frame-365 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
              <input type="text" class="frame-369 border-1px-mist-gray" />
              <input type="text" class="frame-371 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
            </div>
            <div class="frame-container-2">
              <button type="button" class="frame-362 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-375 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-376 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
            </div>
          </div>
          <div class="frame-364 border-1px-mercury">
            <div class="flex-col">
              <div class="frame-363-1 border-1px-absolute-zero">
                <div class="accomplishment poppins-normal-absolute-zero-11px">
                  Accomplishment-2
                </div>
              </div>
              <div class="place poppins-normal-stack-14px">Name</div>
              <div class="place-1 poppins-normal-stack-14px">Name</div>
              <div class="place-2 poppins-normal-stack-14px">Name</div>
              <div class="place-3 poppins-normal-stack-14px">Name</div>
              <div class="place-4 poppins-normal-stack-14px">Name</div>
            </div>
            <div class="frame-container-1">
              <input type="text" class="frame-365 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
              <input type="text" class="frame-369 border-1px-mist-gray" />
              <input type="text" class="frame-371 border-1px-mist-gray" />
              <input type="text" class="frame-3 border-1px-mist-gray" />
            </div>
            <div class="frame-container-2">
              <button type="button" class="frame-362 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-375 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-376 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
            </div>
          </div>
          <button
            type="button"
            img
            class="group-363"
            src="../../../assets/img/group-363-7@2x.svg"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
