<div class="container-center-horizontal">
      <div class="proffisonal-membership screen">
        <div class="overlap-group2 poppins-normal-black-12px">
          <img class="avatar-12" src="img/avatar-12@1x.png" />
          <div class="sanni">Sanni</div>
          <div class="help">Help</div>
          <div class="account">Account</div>
          <div class="place-5">More</div>
          <img class="bithree-dots-vertical" src="img/bi-three-dots-vertical@2x.svg" />
          <img class="group-298" src="img/group-298@2x.svg" />
          <div class="group-323">
            <div class="flex-col-1">
              <img class="study" src="img/study-13@2x.png" />
              <div class="place-6 poppins-normal-black-9px">Home</div>
            </div>
            <div class="flex-col-2">
              <img class="study-3" src="img/study-12@2x.png" />
              <div class="points poppins-normal-black-9px">Points</div>
            </div>
            <div class="flex-col-3">
              <img class="study" src="img/study-11@2x.png" />
              <div class="profile poppins-normal-black-9px">Profile</div>
            </div>
            <div class="flex-col-4">
              <img class="study-4" src="img/study-10@2x.png" />
              <div class="network poppins-normal-black-9px">Network</div>
            </div>
            <div class="flex-col-5">
              <img class="study-5" src="img/study-7@2x.png" />
              <div class="report poppins-normal-black-9px">Report</div>
            </div>
            <div class="flex-col-6">
              <img class="study-6" src="img/study-8@2x.png" />
              <div class="notification-container poppins-normal-black-9px">
                <div class="notification">Notification</div>
                <div class="notification">Notification</div>
              </div>
            </div>
            <div class="flex-col-7">
              <img class="study-7" src="img/study-9@2x.png" />
              <div class="setting poppins-normal-black-9px">Setting</div>
            </div>
          </div>
        </div>
        <div class="flex-row-1">
          <div class="flex-col-8">
            <div class="flex-row-2">
              <img class="unsplash-jo-m_l-c1-w-an-e" src="img/unsplash-jom-lc1wane@2x.svg" />
              <div class="name-container">
                <div class="name poppins-normal-black-12px">Adam kumar</div>
                <div class="name-1 poppins-light-stack-12px">Adam</div>
              </div>
            </div>
            <div class="flex-col-9">
              <a href="assessment-1-2.html">
                <div class="group-312">
                  <img class="study-1" src="img/study-2@2x.svg" />
                  <div class="assesment poppins-normal-black-12px">Assesment</div>
                </div></a
              >
              <div class="group-313">
                <img class="study-1" src="img/study-9@2x.svg" />
                <div class="admin-tools poppins-normal-black-12px">Admin Tools</div>
              </div>
              <div class="group-314">
                <img class="study-2" src="img/study-8@2x.svg" />
                <div class="courses poppins-normal-black-12px">Courses</div>
              </div>
              <div class="group-315">
                <img class="study-1" src="img/study@2x.svg" />
                <div class="certificates poppins-normal-black-12px">Certificates</div>
              </div>
              <div class="group-316">
                <img class="study-2" src="img/study-1@2x.svg" />
                <div class="history poppins-normal-black-12px">History</div>
              </div>
              <div class="group-31">
                <img class="study-1" src="img/study-3@2x.svg" />
                <div class="announcment poppins-normal-black-12px">Announcment</div>
              </div>
              <div class="group-318">
                <img class="study-2" src="img/study-4@2x.svg" />
                <div class="support poppins-normal-black-12px">Support</div>
              </div>
              <div class="group-31">
                <img class="study-1" src="img/study-5@2x.svg" />
                <div class="varified-profile poppins-normal-black-12px">Varified Profile</div>
              </div>
              <div class="group-320">
                <img class="study-1" src="img/study-6@2x.svg" />
                <div class="langauge poppins-normal-black-12px">Langauge</div>
              </div>
              <div class="courses-you-may-like poppins-normal-stack-18px">Courses you may like</div>
              <div class="group-321">
                <img class="study-2" src="img/study-7@2x.png" />
                <div class="block-chain poppins-normal-black-12px">BlockChain</div>
              </div>
              <div class="group-322">
                <img class="study-1" src="img/study-7@2x.svg" />
                <div class="java-script poppins-normal-black-12px">JavaScript</div>
              </div>
            </div>
          </div>
          <div class="flex-col-10">
            <div class="unsplashhpxhfsqy-container">
              <img class="unsplashhpx01-hfs9-qy" src="img/unsplash-hpx01hfs9qy-1@1x.svg" />
              <img class="unsplashhpx01-hfs9-qy" src="img/unsplash-hpx01hfs9qy-2@1x.svg" />
            </div>
            <div class="frame-container-3">
              <div class="frame border-1px-mercury-2">
                <img class="unsplash4-n5hu-jd-oyd-q" src="img/unsplash-4n5hujdoydq@2x.png" />
                <h1 class="title poppins-medium-stack-24px">Yahoo</h1>
                <p class="we-work-for-hr-solut poppins-normal-stack-14px">
                  We work for Hr-solution, E-learning, Assessments and Job search<br />our process is unique and smooth
                  at the same time.<br />we will help you to get hired by your overall score or Job fitment score
                </p>
                <p class="ranked-in-10-of-the-list-in-jobulary poppins-normal-absolute-zero-14px">
                  Ranked in 10% of the list in Jobulary
                </p>
                <div class="frame-container">
                  <div class="frame-359 border-1px-absolute-zero">
                    <div class="follow poppins-normal-absolute-zero-11px">Follow</div>
                  </div>
                  <div class="frame-360 border-1px-absolute-zero">
                    <div class="visit-website poppins-normal-absolute-zero-11px">Visit Website</div>
                  </div>
                  <div class="frame-361 border-1px-absolute-zero">
                    <div class="see-all poppins-normal-absolute-zero-11px">See all</div>
                  </div>
                </div>
              </div>
              <div class="frame border-1px-mercury-2">
                <img class="unsplash4-n5hu-jd-oyd-q" src="img/unsplash-4n5hujdoydq@2x.png" />
                <div class="yahoo poppins-medium-stack-24px">Yahoo</div>
                <p class="we-work-for-hr-solut poppins-normal-stack-14px">
                  We work for Hr-solution, E-learning, Assessments and Job search<br />our process is unique and smooth
                  at the same time.<br />we will help you to get hired by your overall score or Job fitment score
                </p>
                <p class="ranked-in-10-of-the-list-in-jobulary poppins-normal-absolute-zero-14px">
                  Ranked in 10% of the list in Jobulary
                </p>
                <div class="frame-container">
                  <div class="frame-359 border-1px-absolute-zero">
                    <div class="follow poppins-normal-absolute-zero-11px">Follow</div>
                  </div>
                  <div class="frame-360 border-1px-absolute-zero">
                    <div class="visit-website poppins-normal-absolute-zero-11px">Visit Website</div>
                  </div>
                  <div class="frame-361 border-1px-absolute-zero">
                    <div class="see-all poppins-normal-absolute-zero-11px">See all</div>
                  </div>
                </div>
              </div>
              <div class="frame border-1px-mercury-2">
                <img class="unsplash4-n5hu-jd-oyd-q" src="img/unsplash-4n5hujdoydq@2x.png" />
                <div class="yahoo-1 poppins-medium-stack-24px">Yahoo</div>
                <p class="we-work-for-hr-solut poppins-normal-stack-14px">
                  We work for Hr-solution, E-learning, Assessments and Job search<br />our process is unique and smooth
                  at the same time.<br />we will help you to get hired by your overall score or Job fitment score
                </p>
                <p class="ranked-in-10-of-the-list-in-jobulary poppins-normal-absolute-zero-14px">
                  Ranked in 10% of the list in Jobulary
                </p>
                <div class="frame-container">
                  <div class="frame-359 border-1px-absolute-zero">
                    <div class="follow poppins-normal-absolute-zero-11px">Follow</div>
                  </div>
                  <div class="frame-360 border-1px-absolute-zero">
                    <div class="visit-website poppins-normal-absolute-zero-11px">Visit Website</div>
                  </div>
                  <div class="frame-361 border-1px-absolute-zero">
                    <div class="see-all poppins-normal-absolute-zero-11px">See all</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-358 border-1px-mist-gray">
              <div class="frame-354 border-1px-mercury-2">
                <div class="frame-362-1 border-1px-absolute-zero">
                  <div class="accomplishment-1 poppins-normal-absolute-zero-11px">Accomplishment</div>
                </div>
              </div>
              <div class="frame-365-1 border-1px-mercury">
                <div class="flex-col">
                  <div class="frame-363 border-1px-absolute-zero">
                    <div class="accomplishment poppins-normal-absolute-zero-11px">Accomplishment -1</div>
                  </div>
                  <div class="place poppins-normal-stack-14px">Name</div>
                  <div class="place-1 poppins-normal-stack-14px">Name</div>
                  <div class="place-2 poppins-normal-stack-14px">Name</div>
                  <div class="place-3 poppins-normal-stack-14px">Name</div>
                  <div class="place-4 poppins-normal-stack-14px">Name</div>
                </div>
                <div class="frame-container-1">
                  <div class="frame-365 border-1px-mist-gray"></div>
                  <div class="frame-3 border-1px-mist-gray"></div>
                  <div class="frame-369 border-1px-mist-gray"></div>
                  <div class="frame-371 border-1px-mist-gray"></div>
                  <div class="frame-3 border-1px-mist-gray"></div>
                </div>
                <div class="frame-container-2">
                  <div class="frame-362 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-37 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-375 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-376 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-37 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                </div>
              </div>
              <div class="frame-364 border-1px-mercury">
                <div class="flex-col">
                  <div class="frame-363-1 border-1px-absolute-zero">
                    <div class="accomplishment poppins-normal-absolute-zero-11px">Accomplishment-2</div>
                  </div>
                  <div class="place poppins-normal-stack-14px">Name</div>
                  <div class="place-1 poppins-normal-stack-14px">Name</div>
                  <div class="place-2 poppins-normal-stack-14px">Name</div>
                  <div class="place-3 poppins-normal-stack-14px">Name</div>
                  <div class="place-4 poppins-normal-stack-14px">Name</div>
                </div>
                <div class="frame-container-1">
                  <div class="frame-365 border-1px-mist-gray"></div>
                  <div class="frame-3 border-1px-mist-gray"></div>
                  <div class="frame-369 border-1px-mist-gray"></div>
                  <div class="frame-371 border-1px-mist-gray"></div>
                  <div class="frame-3 border-1px-mist-gray"></div>
                </div>
                <div class="frame-container-2">
                  <div class="frame-362 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-37 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-375 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-376 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                  <div class="frame-37 border-1px-absolute-zero">
                    <div class="get-varified poppins-normal-absolute-zero-11px">Get Varified</div>
                  </div>
                </div>
              </div>
              <img class="group-363" src="img/group-363@2x.svg" />
            </div>
          </div>
          <div class="frame-container-4">
            <div class="frame-351 border-1px-mist-gray">
              <div class="flex-col-11">
                <div class="network-1 poppins-semi-bold-absolute-zero-24px">Network</div>
                <div class="flex-row-3">
                  <div class="unsplash-container">
                    <img class="unsplashuya-tt9u6-av-i" src="img/unsplash-uyatt9u6avi@2x.svg" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi@2x.png" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi-7@2x.png" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi-8@2x.png" />
                    <img class="unsplash" src="img/unsplash-f6hbvngtnny@2x.png" />
                  </div>
                  <div class="unsplash-container-1">
                    <img class="unsplashuya-tt9u6-av-i-1" src="img/unsplash-uyatt9u6avi-9@2x.png" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi-1@2x.png" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi-2@2x.png" />
                    <img class="unsplash" src="img/unsplash-uyatt9u6avi-4@2x.png" />
                    <img class="unsplash" src="img/unsplash-ditylc26zvi@2x.png" />
                  </div>
                </div>
              </div>
              <div class="flex-col-12">
                <div class="see-all-1 poppins-light-stack-12px">see all</div>
                <img class="unsplashuya-tt9u6-av-i-2" src="img/unsplash-uyatt9u6avi-10@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-6@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-3@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-5@2x.png" />
                <img class="unsplash" src="img/unsplash-umfpfokxivg@2x.png" />
              </div>
            </div>
            <div class="frame-232 border-1px-mist-gray">
              <div class="analytics poppins-semi-bold-absolute-zero-18px">Analytics</div>
              <div class="group-332">
                <div class="flex-row">
                  <div class="activity poppins-normal-stack-8px">Activity</div>
                  <div class="percent poppins-normal-black-8px">80%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-1"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="visitors poppins-normal-stack-8px">Visitors</div>
                  <div class="percent-1 poppins-normal-black-8px">50%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-2"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-value poppins-normal-stack-8px">Post Value</div>
                  <div class="percent-2 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-report poppins-normal-stack-8px">Post Report</div>
                  <div class="percent-3 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="job-post poppins-normal-stack-8px">Job Post</div>
                  <div class="percent-4 poppins-normal-black-8px">60%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-3"></div>
                </div>
              </div>
            </div>
            <div class="frame-351-1 border-1px-mist-gray">
              <div class="kyc poppins-semi-bold-absolute-zero-18px">KYC</div>
              <div class="frame-346 border-1px-mercury"><div class="place-7 poppins-normal-stack-11px">Story</div></div>
              <div class="frame-347 border-1px-mercury">
                <div class="full-kyc poppins-normal-stack-11px">Full KYC</div>
              </div>
              <div class="frame-348 border-1px-mercury">
                <div class="career-councelling poppins-normal-stack-11px">Career Councelling</div>
              </div>
              <div class="frame-349 border-1px-mercury">
                <div class="mentorship poppins-normal-stack-11px">Mentorship</div>
              </div>
              <div class="frame-350 border-1px-mercury">
                <div class="internship poppins-normal-stack-11px">Internship</div>
              </div>
              <div class="frame-351-2 border-1px-mercury">
                <div class="exprience poppins-normal-stack-11px">Exprience</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>