/* screen - profile */

.profile {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2306px;
  width: 1440px;
}

.profile .overlap-group4 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 99px;
  min-width: 1440px;
  padding: 7px 21px;
}

.profile .avatar-12 {
  align-self: flex-end;
  height: 76px;
  width: 76px;
}

.profile .sanni {
  letter-spacing: 0;
  margin-left: 48px;
  margin-top: 9.0px;
  min-height: 18px;
  min-width: 34px;
}

.profile .help {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9.0px;
  min-height: 18px;
  min-width: 27px;
}

.profile .account {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9.0px;
  min-height: 18px;
  min-width: 51px;
}

.profile .place {
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: 9.0px;
  min-height: 18px;
  min-width: 30px;
}

.profile .bithree-dots-vertical {
  height: 24px;
  margin-left: 71px;
  margin-top: 7.0px;
  width: 24px;
}

.profile .group-298 {
  align-self: flex-end;
  height: 55px;
  margin-bottom: 7px;
  margin-left: 30px;
  width: 451px;
}

.profile .group-323 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 61px;
  min-width: 379px;
}

.profile .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 54px;
  width: 27px;
}

.profile .study {
  height: 24px;
  margin-left: 2px;
  object-fit: cover;
  width: 24px;
}

.profile .place-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.profile .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 54px;
  width: 27px;
}

.profile .study-3 {
  height: 24px;
  margin-left: 1px;
  object-fit: cover;
  width: 24px;
}

.profile .points {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.profile .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 28px;
}

.profile .profile-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.profile .flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 54px;
  width: 37px;
}

.profile .study-4 {
  height: 24px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 24px;
}

.profile .network {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
  min-width: 37px;
}

.profile .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 54px;
  width: 30px;
}

.profile .study-5 {
  height: 24px;
  margin-left: 3px;
  object-fit: cover;
  width: 24px;
}

.profile .report {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.profile .flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 54px;
  width: 52px;
}

.profile .study-6 {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

.profile .notification-container {
  height: 14px;
  margin-top: 16px;
  position: relative;
  width: 52px;
}

.profile .notification {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.profile .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 54px;
  width: 32px;
}

.profile .study-7 {
  height: 24px;
  margin-left: 4px;
  object-fit: cover;
  width: 24px;
}

.profile .setting {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 14px;
}

.profile .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 2179px;
  margin-top: 28px;
  min-width: 1408px;
}

.profile .flex-col-7 {
  align-items: center;
  background-color: var(--white);
  box-shadow: 4px 4px 6px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 2179px;
  padding: 14.5px 0;
  width: 248px;
}

.profile .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  margin-right: 50.0px;
  min-width: 138px;
}

.profile .unsplash-jo-m_l-c1-w-an-e {
  align-self: flex-end;
  height: 53px;
  width: 46px;
}

.profile .name-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 50px;
  width: 79px;
}

.profile .name-2 {
  letter-spacing: 0;
  min-height: 20px;
  width: 79px;
}

.profile .name-3 {
  letter-spacing: 0;
  margin-top: 10px;
  min-height: 20px;
  width: 37px;
}

.profile .flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  min-height: 842px;
  width: 192px;
}

.profile .group-312 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 27px;
  margin-left: 10px;
  min-width: 121px;
}

.profile .study-1 {
  height: 28px;
  margin-top: -0.63px;
  object-fit: cover;
  width: 24px;
}

.profile .assesment {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 67px;
}

.profile .group-313 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 128px;
}

.profile .admin-tools {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 74px;
}

.profile .group-314 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  margin-top: 49px;
  min-width: 104px;
}

.profile .study-2 {
  height: 27px;
  margin-top: -0.13px;
  object-fit: cover;
  width: 24px;
}

.profile .courses {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 50px;
}

.profile .group-315 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 10px;
  margin-top: 45px;
  min-width: 123px;
}

.profile .certificates {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 69px;
}

.profile .group-316 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 95px;
}

.profile .history {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 41px;
}

.profile .group-31 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 140px;
}

.profile .announcment {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-left: 28px;
  min-height: 20px;
  width: 86px;
}

.profile .group-318 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 102px;
}

.profile .support {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 48px;
}

.profile .varified-profile {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 86px;
}

.profile .group-320 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 115px;
}

.profile .langauge {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 61px;
}

.profile .courses-you-may-like {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 30px;
  width: 192px;
}

.profile .group-321 {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  margin-top: 49px;
  min-width: 122px;
}

.profile .block-chain {
  align-self: center;
  letter-spacing: 0;
  margin-left: 28px;
  margin-top: 0;
  min-height: 20px;
  width: 68px;
}

.profile .group-322 {
  align-items: flex-start;
  display: flex;
  height: 27px;
  margin-left: 10px;
  margin-top: 47px;
  min-width: 118px;
}

.profile .java-script {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-left: 28px;
  min-height: 20px;
  width: 64px;
}

.profile .flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 2157px;
  width: 877px;
}

.profile .unsplashh5wv-m-cd-ov3w {
  height: 180px;
  width: 877px;
}

.profile .overlap-group5 {
  border-radius: 4px;
  height: 293px;
  margin-top: 1px;
  position: relative;
  width: 877px;
}

.profile .frame-218 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 293px;
  position: absolute;
  top: 0;
  width: 877px;
}

.profile .flex-row-3 {
  align-items: flex-end;
  display: flex;
  margin-right: 19px;
  margin-top: -88px;
  min-width: 479px;
}

.profile .unsplashw-no-ln-jo7t-s8 {
  height: 120px;
  object-fit: cover;
  width: 120px;
}

.profile .bxbx-message-square-edit-1 {
  height: 24px;
  margin-left: 335px;
  width: 24px;
}

.profile .flex-row-4 {
  align-items: flex-end;
  display: flex;
  height: 250px;
  margin-top: 11px;
  min-width: 877px;
}

.profile .flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  width: 402px;
}

.profile .mern-stack-ui-ux {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 4.0px;
  min-height: 24px;
  width: 358px;
}

.profile .chennai-tamil-nadu {
  letter-spacing: 0;
  margin-left: 20px;
  margin-top: 12px;
  min-height: 21px;
}

.profile .frame-346 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 76px;
  margin-top: 63px;
  min-width: 402px;
  padding: 24px 109px;
}

.profile .open-for-mentorship {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 184px;
}

.profile .flex-col-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 73px;
  min-height: 250px;
  width: 402px;
}

.profile .flex-row-5 {
  align-items: center;
  display: flex;
  height: 119px;
  margin-left: 35.0px;
  min-width: 251px;
}

.profile .unsplashf-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 119px;
  width: 44px;
}

.profile .unsplash-fy-d3-ow-bu-xn-y {
  height: 44px;
  width: 44px;
}

.profile .unsplashf-vaimgno3dw {
  height: 44px;
  margin-top: 31px;
  width: 44px;
}

.profile .flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 93px;
  width: 188px;
}

.profile .leather-sector-skill-council {
  letter-spacing: 0;
  min-height: 18px;
}

.profile .uttrakhand-technical-university {
  letter-spacing: 0;
  margin-top: 57px;
  min-height: 18px;
}

.profile .frame-347 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 76px;
  margin-top: 55px;
  min-width: 402px;
  padding: 24px 105px;
}

.profile .open-for-assessment {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 192px;
}

.profile .title {
  color: var(--stack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.profile .frame-340 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 169px;
  margin-top: 3px;
  min-width: 877px;
  padding: 16px 23px;
}

.profile .flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 116px;
  width: 749px;
}

.profile .about-me {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .working-as-an-associ {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 72px;
  width: 749px;
}

.profile .span0 {
  color: var(--stack);
}

.profile .span1 {
  color: var(--black);
}

.profile .bxbx-message-square-edit-2 {
  height: 24px;
  margin-left: 41px;
  width: 24px;
}

.profile .frame-341 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 225px;
  width: 877px;
}

.profile .flex-row-6 {
  align-items: flex-end;
  display: flex;
  margin-right: 34.0px;
  margin-top: 16px;
  min-width: 797px;
}

.profile .flex-row-7 {
  align-items: flex-end;
  display: flex;
  height: 144px;
  min-width: 556px;
}

.profile .flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 144px;
  width: 70px;
}

.profile .activity {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .unsplashf6-hb-vn-gt-nn-y {
  height: 46px;
  margin-top: 13px;
  object-fit: cover;
  width: 46px;
}

.profile .unsplash {
  height: 46px;
  margin-top: 12px;
  object-fit: cover;
  width: 46px;
}

.profile .flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 104px;
  width: 284px;
}

.profile .what-an-achivment-keep-going {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .name {
  letter-spacing: 0;
  margin-top: 1px;
  min-height: 18px;
}

.profile .what-an-achivment {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 27px;
}

.profile .unsplash-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 104px;
  width: 46px;
}

.profile .unsplash-1 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.profile .flex-col-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 104px;
  width: 217px;
}

.profile .comments-for-the-help {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .name-4 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 27px;
}

.profile .frame-345 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 52px;
  margin-top: 13px;
  min-width: 877px;
  padding: 10px 396px;
}

.profile .see-more {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 85px;
}

.profile .frame-345-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 231px;
  width: 877px;
}

.profile .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 29px;
  margin-right: 17.0px;
  margin-top: 16px;
  min-width: 814px;
}

.profile .exprience {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 89px;
}

.profile .clarityadd-line {
  align-self: flex-end;
  height: 24px;
  margin-left: 701px;
  width: 24px;
}

.profile .flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 106px;
  margin-right: 17.0px;
  margin-top: 12px;
  min-width: 814px;
}

.profile .unsplash-2 {
  height: 52px;
  width: 52px;
}

.profile .flex-col-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 102px;
  width: 292px;
}

.profile .associate-programmer {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-top: 7px;
  min-width: 255px;
}

.profile .leather-sector-skill-council-1 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 184px;
}

.profile .full-time {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 18px;
}

.profile .flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-top: 7px;
  min-width: 292px;
}

.profile .december-2020-present {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 153px;
}

.profile .address {
  letter-spacing: 0;
  margin-left: 52px;
  min-height: 18px;
}

.profile .place-2 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 18px;
}

.profile .flex-col-18 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 351px;
  min-height: 101px;
  width: 92px;
}

.profile .bxbx-message-square-edit-3 {
  height: 24px;
  width: 24px;
}

.profile .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 4px;
  display: flex;
  margin-top: 43px;
  min-width: 92px;
}

.profile .varify {
  height: 34px;
  letter-spacing: 0;
  text-align: center;
  width: 92px;
}

.profile .frame-345-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 52px;
  margin-top: 16px;
  min-width: 877px;
  padding: 10px 396px;
}

.profile .frame-346-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 440px;
  width: 877px;
}

.profile .flex-row-12 {
  align-items: center;
  display: flex;
  height: 350px;
  margin-right: 17.0px;
  margin-top: 16px;
  min-width: 814px;
}

.profile .flex-col-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 590px;
}

.profile .education {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .group-365 {
  align-items: flex-start;
  display: flex;
  height: 83px;
  margin-top: 26px;
  min-width: 365px;
}

.profile .flex-col-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 83px;
  width: 280px;
}

.profile .uttrakhand-technical-university-1 {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .bacholere-of-engineering {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .address-1 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .group-366 {
  align-items: flex-start;
  display: flex;
  height: 83px;
  margin-top: 24px;
  min-width: 590px;
}

.profile .flex-col-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 83px;
  width: 505px;
}

.profile .central-institute-of {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .d-iploma-of-engineering {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .address-2 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .group-367 {
  align-items: flex-start;
  display: flex;
  height: 83px;
  margin-top: 24px;
  min-width: 451px;
}

.profile .flex-col-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 83px;
  width: 366px;
}

.profile .kendriya-vidiyalaya {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .d-iploma-of-engineering-1 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .address-3 {
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 21px;
}

.profile .flex-col-23 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0px;
  margin-left: 130px;
  min-height: 335px;
  width: 94px;
}

.profile .clarityadd-line-1 {
  height: 24px;
  width: 24px;
}

.profile .bxbx-message-square-edit-4 {
  height: 24px;
  margin-top: 20px;
  width: 24px;
}

.profile .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 4px;
  display: flex;
  margin-right: 2px;
  margin-top: 19px;
  min-width: 92px;
}

.profile .bxbx-message-square-edit {
  height: 24px;
  margin-top: 36px;
  width: 24px;
}

.profile .overlap-group {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 4px;
  display: flex;
  margin-right: 2px;
  margin-top: 13px;
  min-width: 92px;
}

.profile .frame-345-3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 52px;
  margin-top: 22px;
  min-width: 877px;
  padding: 10px 396px;
}

.profile .frame-34 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 300px;
  width: 877px;
}

.profile .flex-row-13 {
  align-items: center;
  display: flex;
  height: 206px;
  margin-right: 17.0px;
  margin-top: 16px;
  min-width: 814px;
}

.profile .flex-col-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 206px;
  width: 192px;
}

.profile .skills {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .engineering {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 36px;
}

.profile .flex-col-item {
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 36px;
}

.profile .flex-col-25 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 7.0px;
  margin-left: 458px;
  min-height: 189px;
  width: 164px;
}

.profile .flex-row-14 {
  align-items: center;
  display: flex;
  height: 27px;
  min-width: 164px;
}

.profile .add-new-skill {
  letter-spacing: 0;
  min-height: 27px;
  min-width: 116px;
}

.profile .clarityadd-line-2 {
  height: 24px;
  margin-left: 24px;
  margin-top: 1.0px;
  width: 24px;
}

.profile .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 4px;
  display: flex;
  margin-right: 12px;
  margin-top: 20px;
  min-width: 92px;
}

.profile .frame-345-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 52px;
  margin-top: 26px;
  min-width: 877px;
  padding: 10px 396px;
}

.profile .flex-row-15 {
  align-items: flex-end;
  display: flex;
  height: 194px;
  margin-right: 18.0px;
  margin-top: 16px;
  min-width: 813px;
}

.profile .flex-col-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 194px;
  width: 239px;
}

.profile .intrest-area {
  letter-spacing: 0;
  min-height: 27px;
}

.profile .group-368 {
  align-items: center;
  display: flex;
  margin-top: 24px;
  min-width: 239px;
}

.profile .cloud-computing {
  letter-spacing: 0;
  margin-left: 27px;
  margin-top: 1.0px;
  min-height: 27px;
  min-width: 158px;
}

.profile .group-370 {
  align-items: center;
  display: flex;
  margin-top: 39px;
  min-width: 224px;
}

.profile .we-devlopment {
  letter-spacing: 0;
  margin-left: 27px;
  margin-top: 1.0px;
  min-height: 27px;
  min-width: 143px;
}

.profile .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 285px;
  min-height: 143px;
  width: 289px;
}

.profile .group-369 {
  align-items: center;
  display: flex;
  min-width: 184px;
}

.profile .block-chain-1 {
  letter-spacing: 0;
  margin-left: 27px;
  margin-top: 1.0px;
  min-height: 27px;
  min-width: 103px;
}

.profile .group-371 {
  align-items: center;
  display: flex;
  margin-top: 39px;
  min-width: 289px;
}

.profile .full-stack-development {
  letter-spacing: 0;
  margin-left: 27px;
  margin-top: 1.0px;
  min-height: 27px;
  min-width: 208px;
}

.profile .frame-345-5 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 52px;
  margin-top: 38px;
  min-width: 877px;
  padding: 10px 396px;
}

.profile .frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  min-height: 1064px;
  width: 232px;
}

.profile .frame-187 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 474px;
  justify-content: flex-end;
  margin-left: 4px;
  min-width: 224px;
  padding: 24px 17px;
}

.profile .flex-col-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  width: 105px;
}

.profile .network-1 {
  color: var(--absolute-zero);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 36px;
}

.profile .flex-row-16 {
  align-items: flex-start;
  display: flex;
  height: 354px;
  margin-top: 30px;
  min-width: 105px;
}

.profile .unsplash-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 354px;
  width: 46px;
}

.profile .unsplashuya-tt9u6-av-i {
  height: 46px;
  width: 46px;
}

.profile .unsplash-3 {
  height: 46px;
  margin-top: 31px;
  object-fit: cover;
  width: 46px;
}

.profile .unsplash-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 354px;
  width: 46px;
}

.profile .flex-col-28 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 3.0px;
  min-height: 411px;
  width: 59px;
}

.profile .see-all {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 18px;
  min-width: 38px;
}

.profile .unsplashuya-tt9u6-av-i-1 {
  height: 46px;
  margin-top: 39px;
  object-fit: cover;
  width: 46px;
}

.profile .frame-232 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  min-height: 308px;
  padding: 12px 9px;
  width: 232px;
}

.profile .dashboard {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 6px;
  min-height: 27px;
}

.profile .group-332 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  min-height: 26px;
  width: 204px;
}

.profile .flex-row {
  align-items: flex-start;
  display: flex;
  height: 12px;
  min-width: 200px;
}

.profile .name-1 {
  letter-spacing: 0;
  min-height: 12px;
  min-width: 25px;
}

.profile .percent {
  letter-spacing: 0;
  margin-left: 158px;
  min-height: 12px;
}

.profile .progressbar-60100 {
  align-items: center;
  background-color: var(--black);
  border-radius: 1px;
  display: flex;
  height: 8px;
  margin-top: 6px;
  overflow: hidden;
  padding: 0 2px;
  width: 200px;
}

.profile .rectangle-1 {
  background-color: var(--white);
  border-radius: 1px;
  height: 4px;
  width: 162px;
}

.profile .group-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  min-height: 26px;
  width: 204px;
}

.profile .rectangle-2 {
  background-color: var(--white);
  border-radius: 1px;
  height: 4px;
  width: 105px;
}

.profile .rectangle {
  background-color: var(--white);
  border-radius: 1px;
  height: 4px;
  width: 137px;
}

.profile .rectangle-3 {
  background-color: var(--white);
  border-radius: 1px;
  height: 4px;
  width: 126px;
}

.profile .frame-350 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  min-height: 255px;
  padding: 12px 14px;
  width: 232px;
}

.profile .kyc {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 27px;
}

.profile .frame-346-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 203px;
  padding: 0 87px;
}

.profile .place-3 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 28px;
}

.profile .frame-347-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  margin-top: 2px;
  min-width: 203px;
  padding: 0 80px;
}

.profile .full-kyc {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 43px;
}

.profile .frame-348 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 203px;
  padding: 0 46px;
}

.profile .career-councelling {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 110px;
}

.profile .frame-349 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 203px;
  padding: 0 66px;
}

.profile .mentorship {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 62px;
}

.profile .frame-350-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  margin-top: 2px;
  min-width: 203px;
  padding: 0 74px;
}

.profile .internship {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 55px;
}

.profile .frame-351 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 29px;
  margin-top: 2px;
  min-width: 203px;
  padding: 0 75px;
}

.profile .exprience-1 {
  letter-spacing: 0;
  min-height: 17px;
  min-width: 53px;
}
