    <input type="hidden" id="anPageName" name="page" value="profile" />
    <div class="container-center-horizontal">
      <div class="profile screen">
        <div class="overlap-group2 poppins-normal-black-12px">
          <img class="avatar-12" src="img/avatar-12@1x.png" />
          <div class="sanni">Sanni</div>
          <div class="help">Help</div>
          <div class="account">Account</div>
          <div class="place">More</div>
          <img class="bithree-dots-vertical" src="img/bi-three-dots-vertical@2x.svg" />
          <img class="group-298" src="img/group-298@2x.svg" />
          <div class="group-323">
            <div class="flex-col-2">
              <img class="study" src="img/study-13@2x.png" />
              <div class="place-1 poppins-normal-black-9px">Home</div>
            </div>
            <div class="flex-col-3">
              <img class="study-2" src="img/study-12@2x.png" />
              <div class="points poppins-normal-black-9px">Points</div>
            </div>
            <div class="flex-col-4">
              <img class="study" src="img/study-11@2x.png" />
              <div class="profile-1 poppins-normal-black-9px">Profile</div>
            </div>
            <div class="flex-col-5">
              <img class="study-3" src="img/study-10@2x.png" />
              <div class="network poppins-normal-black-9px">Network</div>
            </div>
            <div class="flex-col-6">
              <img class="study-4" src="img/study-7@2x.png" />
              <div class="report poppins-normal-black-9px">Report</div>
            </div>
            <div class="flex-col-7">
              <img class="study-5" src="img/study-8@2x.png" />
              <div class="notification-container poppins-normal-black-9px">
                <div class="notification">Notification</div>
                <div class="notification">Notification</div>
              </div>
            </div>
            <div class="flex-col-8">
              <img class="study-6" src="img/study-9@2x.png" />
              <div class="setting poppins-normal-black-9px">Setting</div>
            </div>
          </div>
        </div>
        <div class="flex-row-1">
          <div class="flex-row-2">
            <div class="flex-col-9">
              <img class="unsplash" src="img/unsplash-f49xhybpia0@2x.png" />
              <img class="study-7" src="img/study-2@2x.svg" />
              <img class="study-1" src="img/study-8@2x.svg" />
              <img class="study-8" src="img/study-7@2x.svg" />
              <img class="study-9" src="img/study@2x.svg" />
              <img class="study-1" src="img/study-1@2x.svg" />
              <img class="study-1" src="img/study-3@2x.svg" />
              <img class="study-1" src="img/study-4@2x.svg" />
              <img class="study-1" src="img/study-5@2x.svg" />
              <img class="study-1" src="img/study-6@2x.svg" />
              <img class="study-10" src="img/study-6@2x.png" />
            </div>
            <div class="flex-col-10">
              <img class="unsplash-wmns-gya-fn-cq" src="img/unsplash-wmnsgyafncq@1x.svg" />
              <div class="frame-218 border-1px-mercury-2">
                <img class="unsplashb-bmi4n-jj-kk8" src="img/unsplash-bbmi4njjkk8@2x.png" />
                <div class="jobulary poppins-medium-stack-24px">Jobulary</div>
                <p class="we-work-for-hr-solut poppins-normal-stack-14px">
                  We work for Hr-solution, E-learning, Assessments and Job search<br />our process is unique and smooth
                  at the same time.<br />we will help you to get hired by your overall score or Job fitment score
                </p>
              </div>
              <div class="frame-358 border-1px-mist-gray">
                <div class="flex-row-3">
                  <div class="flex-col-11">
                    <div class="dash-board poppins-semi-bold-absolute-zero-18px">DashBoard</div>
                    <div class="frame-364 border-1px-mercury">
                      <div class="prnding-candidate poppins-normal-stack-11px">Prnding<br />Candidate</div>
                      <div class="overlap-group">
                        <div class="email-all valign-text-middle metrophobic-regular-normal-white-14px">Email All</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-36 border-1px-slimy-green">
                    <div class="completed-candidate poppins-normal-slimy-green-11px">Completed<br />Candidate</div>
                    <div class="overlap-group-1">
                      <div class="email-all valign-text-middle metrophobic-regular-normal-white-14px">Email All</div>
                    </div>
                  </div>
                  <div class="frame-366 border-1px-mercury">
                    <div class="on-going-candidate poppins-normal-stack-11px">On Going<br />Candidate</div>
                    <div class="overlap-group-2">
                      <div class="email-all valign-text-middle metrophobic-regular-normal-white-14px">Email All</div>
                    </div>
                  </div>
                  <div class="frame-36 border-1px-absolute-zero">
                    <div class="interview-candidate poppins-normal-absolute-zero-11px">Interview<br />Candidate</div>
                    <div class="overlap-group-3">
                      <div class="email-all valign-text-middle metrophobic-regular-normal-white-14px">Email All</div>
                    </div>
                  </div>
                  <div class="flex-col-12">
                    <div class="overlap-group1">
                      <div class="filter valign-text-middle metrophobic-regular-normal-white-14px">Filter</div>
                    </div>
                    <div class="frame-368">
                      <div class="final-candidate poppins-normal-monza-11px">Final Candidate</div>
                      <div class="overlap-group-4">
                        <div class="email-all valign-text-middle metrophobic-regular-normal-white-14px">Email All</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-354-1 border-1px-mercury">
                  <img class="unsplash" src="img/unsplash-jmati5q-ygy@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-2">Name</div>
                    <div class="current-location">Current Location</div>
                    <div class="education">Education</div>
                    <div class="prefered-location">Prefered Location</div>
                    <div class="surname">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-3 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-4 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-mercury">
                  <img class="unsplash" src="img/unsplash-ridxdghg7pw@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-5">Name</div>
                    <div class="current-location-1">Current Location</div>
                    <div class="education-1">Education</div>
                    <div class="prefered-location-1">Prefered Location</div>
                    <div class="surname-1">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-1 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-6 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-1 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-7 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-1 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-mercury">
                  <img class="unsplash" src="img/unsplash-bbmi4njjkk8-1@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-8">Name</div>
                    <div class="current-location-2">Current Location</div>
                    <div class="education-2">Education</div>
                    <div class="prefered-location-2">Prefered Location</div>
                    <div class="surname-2">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-2 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-9 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-2 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-10 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-2 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-357-1">
                  <img class="unsplash" src="img/unsplash-b4tjxni0y2c@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-11">Name</div>
                    <div class="current-location-3">Current Location</div>
                    <div class="education-3">Education</div>
                    <div class="prefered-location-3">Prefered Location</div>
                    <div class="surname-3">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-3 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-12 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-3 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-13 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-3 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-slimy-green">
                  <img class="unsplash" src="img/unsplash-mx4auh5zo4w@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-14">Name</div>
                    <div class="current-location-4">Current Location</div>
                    <div class="education-4">Education</div>
                    <div class="prefered-location-4">Prefered Location</div>
                    <div class="surname-4">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-4 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-15 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-4 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-16 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-4 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-slimy-green">
                  <img class="unsplash" src="img/unsplash-8pmvb4vyvxa@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-17">Name</div>
                    <div class="current-location-5">Current Location</div>
                    <div class="education-5">Education</div>
                    <div class="prefered-location-5">Prefered Location</div>
                    <div class="surname-5">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-5 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-18 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-5 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-19 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-5 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-absolute-zero">
                  <img class="unsplash" src="img/unsplash-f49xhybpia0-1@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-20">Name</div>
                    <div class="current-location-6">Current Location</div>
                    <div class="education-6">Education</div>
                    <div class="prefered-location-6">Prefered Location</div>
                    <div class="surname-6">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-6 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-21 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-6 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-22 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-6 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
                <div class="frame-3 border-1px-absolute-zero">
                  <img class="unsplash" src="img/unsplash-rn10odsbb-g@1x.png" />
                  <div class="flex-col poppins-normal-stack-11px">
                    <div class="place-23">Name</div>
                    <div class="current-location-7">Current Location</div>
                    <div class="education-7">Education</div>
                    <div class="prefered-location-7">Prefered Location</div>
                    <div class="surname-7">Key skill</div>
                  </div>
                  <div class="flex-col-1">
                    <div class="name-7 poppins-normal-absolute-zero-11px">Adam Kumar</div>
                    <div class="place-24 poppins-normal-stack-11px">Chennai</div>
                    <div class="mtech-in-computer-science-7 poppins-normal-stack-11px">M.tech in computer science</div>
                    <div class="place-25 poppins-normal-stack-11px">Pune</div>
                    <div class="java-database-cloud-7 poppins-normal-stack-11px">Java, Database, Cloud</div>
                  </div>
                  <div class="frame-container">
                    <div class="frame-354 border-1px-mercury">
                      <div class="show-score poppins-normal-absolute-zero-11px">Show Score</div>
                    </div>
                    <div class="frame-356 border-1px-mercury">
                      <div class="varified poppins-normal-slimy-green-11px">Varified</div>
                    </div>
                  </div>
                  <div class="frame-container-1">
                    <div class="frame-355 border-1px-mercury">
                      <div class="email-candidate poppins-normal-absolute-zero-11px">Email Candidate</div>
                    </div>
                    <div class="frame-357 border-1px-mercury">
                      <div class="show-phone-no poppins-normal-slimy-green-11px">Show Phone No</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-container-2">
            <div class="frame-360 border-1px-mist-gray">
              <div class="admin poppins-semi-bold-absolute-zero-18px">Admin</div>
              <div class="frame-346 border-1px-mercury">
                <div class="company-admin poppins-normal-stack-11px">Company Admin</div>
              </div>
              <div class="frame-347 border-1px-mercury">
                <div class="post-an-activity poppins-normal-stack-11px">Post an Activity</div>
              </div>
              <div class="frame-34 border-1px-mercury">
                <div class="post-a-job poppins-normal-stack-11px">Post a job</div>
              </div>
              <div class="frame-349 border-1px-mercury">
                <div class="posted-job poppins-normal-stack-11px">Posted Job</div>
              </div>
              <div class="frame-3-1 border-1px-mercury">
                <div class="add-this-to-dashboard poppins-normal-stack-11px">Add this to Dashboard</div>
              </div>
              <div class="frame-351 border-1px-mercury">
                <div class="view-as-member poppins-normal-stack-11px">View as member</div>
              </div>
            </div>
            <div class="frame-349-1 border-1px-mist-gray">
              <div class="engage poppins-semi-bold-absolute-zero-18px">Engage</div>
              <div class="frame-346-1 border-1px-mercury">
                <div class="invite-someone-to-jobulary poppins-normal-stack-11px">Invite someone to jobulary</div>
              </div>
              <div class="frame-34-1 border-1px-mercury">
                <div class="invite-employee poppins-normal-stack-11px">Invite Employee</div>
              </div>
              <div class="frame-34-1 border-1px-mercury">
                <div class="invite-follower poppins-normal-stack-11px">Invite Follower</div>
              </div>
            </div>
            <div class="frame-350 border-1px-mist-gray">
              <div class="sections poppins-semi-bold-absolute-zero-18px">Sections</div>
              <div class="frame-346-2 border-1px-mercury">
                <div class="place-26 poppins-normal-stack-11px">Job</div>
              </div>
              <div class="frame-347-1 border-1px-mercury">
                <div class="events poppins-normal-stack-11px">Events</div>
              </div>
              <div class="frame-348 border-1px-mercury">
                <div class="career-councelling poppins-normal-stack-11px">Career Councelling</div>
              </div>
              <div class="frame-34 border-1px-mercury">
                <div class="coaching poppins-normal-stack-11px">Coaching</div>
              </div>
              <div class="frame-350-1 border-1px-mercury">
                <div class="e-learning poppins-normal-stack-11px">E-Learning</div>
              </div>
              <div class="frame-351-1 border-1px-mercury"><div class="lms poppins-normal-stack-11px">LMS</div></div>
            </div>
            <div class="frame-351-2 border-1px-mist-gray">
              <div class="admin-tools poppins-semi-bold-absolute-zero-18px">Admin Tools</div>
              <div class="frame-346-3 border-1px-mercury">
                <div class="manage-admins poppins-normal-stack-11px">Manage Admins</div>
              </div>
              <div class="frame-347-2 border-1px-mercury">
                <div class="de-activate poppins-normal-stack-11px">De-Activate</div>
              </div>
            </div>
            <div class="frame-232 border-1px-mist-gray">
              <div class="analytics poppins-semi-bold-absolute-zero-18px">Analytics</div>
              <div class="group-332">
                <div class="flex-row">
                  <div class="activity poppins-normal-stack-8px">Activity</div>
                  <div class="percent poppins-normal-black-8px">80%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-1"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="visitors poppins-normal-stack-8px">Visitors</div>
                  <div class="percent-1 poppins-normal-black-8px">50%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-2"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-value poppins-normal-stack-8px">Post Value</div>
                  <div class="percent-2 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="post-report poppins-normal-stack-8px">Post Report</div>
                  <div class="percent-3 poppins-normal-black-8px">69%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle"></div>
                </div>
              </div>
              <div class="group-33">
                <div class="flex-row">
                  <div class="job-post poppins-normal-stack-8px">Job Post</div>
                  <div class="percent-4 poppins-normal-black-8px">60%</div>
                </div>
                <div class="progressbar-60100">
                  <div class="rectangle-3"></div>
                </div>
              </div>
            </div>
            <div class="frame-356-1 border-1px-mist-gray">
              <div class="interview-list poppins-semi-bold-absolute-zero-18px">Interview List</div>
              <div class="frame-346-4 border-1px-mercury">
                <div class="on-going-candidate-1 poppins-normal-stack-11px">On going candidate</div>
              </div>
              <div class="frame-347-3 border-1px-mercury">
                <div class="pending-candidate poppins-normal-stack-11px">Pending Candidate</div>
              </div>
              <div class="frame-3-1 border-1px-mercury">
                <div class="completed-candidate-1 poppins-normal-slimy-green-11px">Completed Candidate</div>
              </div>
              <div class="frame-349-2 border-1px-mercury">
                <div class="interview-candidate-1 poppins-normal-absolute-zero-11px">Interview Candidate</div>
              </div>
              <div class="frame-350-2 border-1px-mercury">
                <div class="final-candidate-1 poppins-normal-monza-11px">Final Candidate</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>