<input type="hidden" id="anPageName" name="page" value="profile" />
<div class="container-center-horizontal">
  <div class="profile screen">
    <div class="flex-row-1">
      <div class="flex-col-9">
        <div class="frame-34 border-1px-mercury">
          <div class="flex-row-13">
            <div class="flex-col-24">
              <div class="skills poppins-semi-bold-absolute-zero-18px">
                Skills
              </div>
              <div class="engineering poppins-normal-black-24px">
                Engineering
              </div>
              <div class="flex-col-item poppins-normal-black-24px">
                Training
              </div>
              <div class="flex-col-item poppins-normal-black-24px">
                Problem solving
              </div>
            </div>
            <div class="flex-col-25">
              <div class="flex-row-14">
                <div class="add-new-skill poppins-normal-stack-18px">
                  Add new skill
                </div>
                <img
                  class="clarityadd-line-2"
                  src="img/clarity-add-line-2@2x.svg"
                />
              </div>
              <div class="overlap-group-1">
                <div
                  class="varify valign-text-middle metrophobic-normal-white-14px"
                >
                  Varify
                </div>
              </div>
              <div class="overlap-group-1">
                <div
                  class="varify valign-text-middle metrophobic-normal-white-14px"
                >
                  Varify
                </div>
              </div>
              <div class="overlap-group-1">
                <div
                  class="varify valign-text-middle metrophobic-normal-white-14px"
                >
                  Varify
                </div>
              </div>
            </div>
          </div>
          <div class="frame-345-4 border-1px-mercury">
            <div class="see-more poppins-normal-stack-18px">see more</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
