<input type="hidden" id="anPageName" name="page" value="accomplishment" />
<!-- Main page -->
<div class="container-center-horizontal">
  <div class="accomplishment screen">
    <div class="flex-row-1">
      <div class="flex-col-10">
        <div class="frame-358 border-1px-mist-gray">
          <div class="frame-354 border-1px-mercury-2">
            <div class="frame-362-1 border-1px-absolute-zero">
              <div class="accomplishment-2 poppins-normal-absolute-zero-11px">
                Accomplishment
              </div>
            </div>
          </div>
          <div class="frame-365-1 border-1px-mercury">
            <div class="flex-col poppins-normal-stack-14px">
              <div class="frame-363 border-1px-absolute-zero">
                <div class="accomplishment-1 poppins-normal-absolute-zero-11px">
                  Accomplishment -1
                </div>
              </div>
              <div class="place">Name</div>
              <div class="place-1">Name</div>
              <div class="place-2">Name</div>
              <div class="place-3">Name</div>
              <div class="place-4">Name</div>
            </div>
            <div class="frame-container">
              <input type="text" class="frame-365 border-1px-mist-gray">
              <input type="text" class="frame-3 border-1px-mist-gray">
              <input type="text" class="frame-369 border-1px-mist-gray">
              <input type="text" class="frame-371 border-1px-mist-gray">
              <input type="text" class="frame-3 border-1px-mist-gray">
            </div>
            <div class="frame-container-1">
              <button type="button" class="frame-362 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-375 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-376 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
            </div>>
          </div>
          <div class="frame-364 border-1px-mercury">
            <div class="flex-col poppins-normal-stack-14px">
              <div class="frame-363-1 border-1px-absolute-zero">
                <div class="accomplishment-1 poppins-normal-absolute-zero-11px">
                  Accomplishment-2
                </div>
              </div>
              <div class="place">Name</div>
              <div class="place-1">Name</div>
              <div class="place-2">Name</div>
              <div class="place-3">Name</div>
              <div class="place-4">Name</div>
            </div>
            <div class="frame-container">
              <div class="frame-365 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
              <div class="frame-369 border-1px-mist-gray"></div>
              <div class="frame-371 border-1px-mist-gray"></div>
              <div class="frame-3 border-1px-mist-gray"></div>
            </div>
            <div class="frame-container-1">
              <button type="button" class="frame-362 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-375 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-376 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
              <button type="button" class="frame-37 border-1px-absolute-zero">
                <div class="get-varified poppins-normal-absolute-zero-11px">
                  Get Varified
                </div>
              </button>
            </div>
          </div>
          <button type="button" img class="group-363" src="../../../assets/img/group-363-6@2x.svg" >Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
