<div class="container-center-horizontal">
      <div class="right-nav-bar screen">
        <div class="frame-351 border-1px-mist-gray">
          <div class="flex-col">
            <div class="network poppins-semi-bold-absolute-zero-24px">Network</div>
            <div class="flex-row-1">
              <div class="unsplash-container">
                <img class="unsplashuya-tt9u6-av-i" src="img/unsplash-uyatt9u6avi@2x.svg" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-7@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-8@2x.png" />
                <img class="unsplash" src="img/unsplash-f6hbvngtnny@2x.png" />
              </div>
              <div class="unsplash-container-1">
                <img class="unsplashuya-tt9u6-av-i-1" src="img/unsplash-uyatt9u6avi-9@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-1@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-2@2x.png" />
                <img class="unsplash" src="img/unsplash-uyatt9u6avi-4@2x.png" />
                <img class="unsplash" src="img/unsplash-ditylc26zvi@2x.png" />
              </div>
            </div>
          </div>
          <div class="flex-col-1">
            <div class="see-all poppins-light-stack-12px">see all</div>
            <img class="unsplashuya-tt9u6-av-i-2" src="img/unsplash-uyatt9u6avi-10@2x.png" />
            <img class="unsplash" src="img/unsplash-uyatt9u6avi-6@2x.png" />
            <img class="unsplash" src="img/unsplash-uyatt9u6avi-3@2x.png" />
            <img class="unsplash" src="img/unsplash-uyatt9u6avi-5@2x.png" />
            <img class="unsplash" src="img/unsplash-umfpfokxivg@2x.png" />
          </div>
        </div>
        <div class="frame-232 border-1px-mist-gray">
          <div class="analytics poppins-semi-bold-absolute-zero-18px">Analytics</div>
          <div class="group-332">
            <div class="flex-row">
              <div class="activity poppins-normal-stack-8px">Activity</div>
              <div class="percent poppins-normal-black-8px">80%</div>
            </div>
            <div class="progressbar-60100">
              <div class="rectangle-1"></div>
            </div>
          </div>
          <div class="group-33">
            <div class="flex-row">
              <div class="visitors poppins-normal-stack-8px">Visitors</div>
              <div class="percent-1 poppins-normal-black-8px">50%</div>
            </div>
            <div class="progressbar-60100">
              <div class="rectangle-2"></div>
            </div>
          </div>
          <div class="group-33">
            <div class="flex-row">
              <div class="post-value poppins-normal-stack-8px">Post Value</div>
              <div class="percent-2 poppins-normal-black-8px">69%</div>
            </div>
            <div class="progressbar-60100">
              <div class="rectangle"></div>
            </div>
          </div>
          <div class="group-33">
            <div class="flex-row">
              <div class="post-report poppins-normal-stack-8px">Post Report</div>
              <div class="percent-3 poppins-normal-black-8px">69%</div>
            </div>
            <div class="progressbar-60100">
              <div class="rectangle"></div>
            </div>
          </div>
          <div class="group-33">
            <div class="flex-row">
              <div class="job-post poppins-normal-stack-8px">Job Post</div>
              <div class="percent-4 poppins-normal-black-8px">60%</div>
            </div>
            <div class="progressbar-60100">
              <div class="rectangle-3"></div>
            </div>
          </div>
        </div>
        <div class="frame-351-1 border-1px-mist-gray">
          <div class="kyc poppins-semi-bold-absolute-zero-18px">KYC</div>
          <div class="frame-346 border-1px-mercury"><div class="place poppins-normal-stack-11px">Story</div></div>
          <div class="frame-347 border-1px-mercury"><div class="full-kyc poppins-normal-stack-11px">Full KYC</div></div>
          <div class="frame-348 border-1px-mercury">
            <div class="career-councelling poppins-normal-stack-11px">Career Councelling</div>
          </div>
          <div class="frame-349 border-1px-mercury">
            <div class="mentorship poppins-normal-stack-11px">Mentorship</div>
          </div>
          <div class="frame-350 border-1px-mercury">
            <div class="internship poppins-normal-stack-11px">Internship</div>
          </div>
          <div class="frame-351-2 border-1px-mercury">
            <div class="exprience poppins-normal-stack-11px">Exprience</div>
          </div>
        </div>
      </div>
    </div>